// Icons
// --------------------------

.ra-abacus {
  &:before {
    content: $ra-abacus; 
  }
}

.ra-achievement {
  &:before {
    content: $ra-achievement; 
  }
}

.ra-acid {
  &:before {
    content: $ra-acid; 
  }
}

.ra-acorn {
  &:before {
    content: $ra-acorn; 
  }
}

.ra-alien-fire {
  &:before {
    content: $ra-alien-fire; 
  }
}

.ra-all-for-one {
  &:before {
    content: $ra-all-for-one; 
  }
}

.ra-amethyst {
  &:before {
    content: $ra-amethyst; 
  }
}

.ra-amphora {
  &:before {
    content: $ra-amphora; 
  }
}

.ra-amputation {
  &:before {
    content: $ra-amputation; 
  }
}

.ra-anchor {
  &:before {
    content: $ra-anchor; 
  }
}

.ra-angel-wings {
  &:before {
    content: $ra-angel-wings; 
  }
}

.ra-ankh {
  &:before {
    content: $ra-ankh; 
  }
}

.ra-annexation {
  &:before {
    content: $ra-annexation; 
  }
}

.ra-anvil {
  &:before {
    content: $ra-anvil; 
  }
}

.ra-apothecary {
  &:before {
    content: $ra-apothecary; 
  }
}

.ra-apple {
  &:before {
    content: $ra-apple; 
  }
}

.ra-aquarius {
  &:before {
    content: $ra-aquarius; 
  }
}

.ra-arcane-mask {
  &:before {
    content: $ra-arcane-mask; 
  }
}

.ra-archer {
  &:before {
    content: $ra-archer; 
  }
}

.ra-archery-target {
  &:before {
    content: $ra-archery-target; 
  }
}

.ra-archive-research {
  &:before {
    content: $ra-archive-research; 
  }
}

.ra-arena {
  &:before {
    content: $ra-arena; 
  }
}

.ra-aries {
  &:before {
    content: $ra-aries; 
  }
}

.ra-arrow-cluster {
  &:before {
    content: $ra-arrow-cluster; 
  }
}

.ra-arrow-flights {
  &:before {
    content: $ra-arrow-flights; 
  }
}

.ra-arson {
  &:before {
    content: $ra-arson; 
  }
}

.ra-ascending-block {
  &:before {
    content: $ra-ascending-block; 
  }
}

.ra-aura {
  &:before {
    content: $ra-aura; 
  }
}

.ra-aware {
  &:before {
    content: $ra-aware; 
  }
}

.ra-axe-in-log {
  &:before {
    content: $ra-axe-in-log; 
  }
}

.ra-axe-swing {
  &:before {
    content: $ra-axe-swing; 
  }
}

.ra-axe-sword {
  &:before {
    content: $ra-axe-sword; 
  }
}

.ra-axe {
  &:before {
    content: $ra-axe; 
  }
}

.ra-banknote {
  &:before {
    content: $ra-banknote; 
  }
}

.ra-barbed-arrow {
  &:before {
    content: $ra-barbed-arrow; 
  }
}

.ra-basketball-ball {
  &:before {
    content: $ra-basketball-ball; 
  }
}

.ra-bat-sword {
  &:before {
    content: $ra-bat-sword; 
  }
}

.ra-battered-axe {
  &:before {
    content: $ra-battered-axe; 
  }
}

.ra-batteries {
  &:before {
    content: $ra-batteries; 
  }
}

.ra-battle-axe {
  &:before {
    content: $ra-battle-axe; 
  }
}

.ra-battle-gear {
  &:before {
    content: $ra-battle-gear; 
  }
}

.ra-batwings {
  &:before {
    content: $ra-batwings; 
  }
}

.ra-beam-wake {
  &:before {
    content: $ra-beam-wake; 
  }
}

.ra-bear-trap {
  &:before {
    content: $ra-bear-trap; 
  }
}

.ra-beer {
  &:before {
    content: $ra-beer; 
  }
}

.ra-beetle {
  &:before {
    content: $ra-beetle; 
  }
}

.ra-bell {
  &:before {
    content: $ra-bell; 
  }
}

.ra-biohazard {
  &:before {
    content: $ra-biohazard; 
  }
}

.ra-bird-claw {
  &:before {
    content: $ra-bird-claw; 
  }
}

.ra-bird-mask {
  &:before {
    content: $ra-bird-mask; 
  }
}

.ra-black-book {
  &:before {
    content: $ra-black-book; 
  }
}

.ra-blade-bite {
  &:before {
    content: $ra-blade-bite; 
  }
}

.ra-blast {
  &:before {
    content: $ra-blast; 
  }
}

.ra-bleeding-eye {
  &:before {
    content: $ra-bleeding-eye; 
  }
}

.ra-bleeding-hearts {
  &:before {
    content: $ra-bleeding-hearts; 
  }
}

.ra-bolt-shield {
  &:before {
    content: $ra-bolt-shield; 
  }
}

.ra-bomb-explosion {
  &:before {
    content: $ra-bomb-explosion; 
  }
}

.ra-bone-bite {
  &:before {
    content: $ra-bone-bite; 
  }
}

.ra-bone-knife {
  &:before {
    content: $ra-bone-knife; 
  }
}

.ra-book-cover {
  &:before {
    content: $ra-book-cover; 
  }
}

.ra-book {
  &:before {
    content: $ra-book; 
  }
}

.ra-boomerang {
  &:before {
    content: $ra-boomerang; 
  }
}

.ra-boot-stomp {
  &:before {
    content: $ra-boot-stomp; 
  }
}

.ra-bottle-vapors {
  &:before {
    content: $ra-bottle-vapors; 
  }
}

.ra-bottled-bolt {
  &:before {
    content: $ra-bottled-bolt; 
  }
}

.ra-bottom-right {
  &:before {
    content: $ra-bottom-right; 
  }
}

.ra-bowie-knife {
  &:before {
    content: $ra-bowie-knife; 
  }
}

.ra-bowling-pin {
  &:before {
    content: $ra-bowling-pin; 
  }
}

.ra-bracer {
  &:before {
    content: $ra-bracer; 
  }
}

.ra-brain-freeze {
  &:before {
    content: $ra-brain-freeze; 
  }
}

.ra-brandy-bottle {
  &:before {
    content: $ra-brandy-bottle; 
  }
}

.ra-bridge {
  &:before {
    content: $ra-bridge; 
  }
}

.ra-broadhead-arrow {
  &:before {
    content: $ra-broadhead-arrow; 
  }
}

.ra-broken-arrow {
  &:before {
    content: $ra-broken-arrow; 
  }
}

.ra-broken-bone {
  &:before {
    content: $ra-broken-bone; 
  }
}

.ra-broken-bottle {
  &:before {
    content: $ra-broken-bottle; 
  }
}

.ra-broken-heart {
  &:before {
    content: $ra-broken-heart; 
  }
}

.ra-broken-shield {
  &:before {
    content: $ra-broken-shield; 
  }
}

.ra-broken-skull {
  &:before {
    content: $ra-broken-skull; 
  }
}

.ra-brutal-helm {
  &:before {
    content: $ra-brutal-helm; 
  }
}

.ra-bubbling-potion {
  &:before {
    content: $ra-bubbling-potion; 
  }
}

.ra-burning-book {
  &:before {
    content: $ra-burning-book; 
  }
}

.ra-burning-embers {
  &:before {
    content: $ra-burning-embers; 
  }
}

.ra-burning-eye {
  &:before {
    content: $ra-burning-eye; 
  }
}

.ra-burning-meteor {
  &:before {
    content: $ra-burning-meteor; 
  }
}

.ra-burning-skull {
  &:before {
    content: $ra-burning-skull; 
  }
}

.ra-burst-blob {
  &:before {
    content: $ra-burst-blob; 
  }
}

.ra-butterfly {
  &:before {
    content: $ra-butterfly; 
  }
}

.ra-byzantin-temple {
  &:before {
    content: $ra-byzantin-temple; 
  }
}

.ra-campfire {
  &:before {
    content: $ra-campfire; 
  }
}

.ra-camping-tent {
  &:before {
    content: $ra-camping-tent; 
  }
}

.ra-cancer {
  &:before {
    content: $ra-cancer; 
  }
}

.ra-candle-fire {
  &:before {
    content: $ra-candle-fire; 
  }
}

.ra-candle {
  &:before {
    content: $ra-candle; 
  }
}

.ra-capitol {
  &:before {
    content: $ra-capitol; 
  }
}

.ra-capricorn {
  &:before {
    content: $ra-capricorn; 
  }
}

.ra-caravel {
  &:before {
    content: $ra-caravel; 
  }
}

.ra-carrot {
  &:before {
    content: $ra-carrot; 
  }
}

.ra-castle-emblem {
  &:before {
    content: $ra-castle-emblem; 
  }
}

.ra-castle-flag {
  &:before {
    content: $ra-castle-flag; 
  }
}

.ra-castle-ruins {
  &:before {
    content: $ra-castle-ruins; 
  }
}

.ra-castle {
  &:before {
    content: $ra-castle; 
  }
}

.ra-cat {
  &:before {
    content: $ra-cat; 
  }
}

.ra-cauldron {
  &:before {
    content: $ra-cauldron; 
  }
}

.ra-chain {
  &:before {
    content: $ra-chain; 
  }
}

.ra-cheese {
  &:before {
    content: $ra-cheese; 
  }
}

.ra-chemical-arrow {
  &:before {
    content: $ra-chemical-arrow; 
  }
}

.ra-chessboard {
  &:before {
    content: $ra-chessboard; 
  }
}

.ra-chicken-leg {
  &:before {
    content: $ra-chicken-leg; 
  }
}

.ra-circle-of-circles {
  &:before {
    content: $ra-circle-of-circles; 
  }
}

.ra-circular-saw {
  &:before {
    content: $ra-circular-saw; 
  }
}

.ra-circular-shield {
  &:before {
    content: $ra-circular-shield; 
  }
}

.ra-classical-knowledge {
  &:before {
    content: $ra-classical-knowledge; 
  }
}

.ra-cloak-and-dagger {
  &:before {
    content: $ra-cloak-and-dagger; 
  }
}

.ra-clockwork {
  &:before {
    content: $ra-clockwork; 
  }
}

.ra-closed-barbute {
  &:before {
    content: $ra-closed-barbute; 
  }
}

.ra-clover {
  &:before {
    content: $ra-clover; 
  }
}

.ra-clovers-card {
  &:before {
    content: $ra-clovers-card; 
  }
}

.ra-clovers {
  &:before {
    content: $ra-clovers; 
  }
}

.ra-coal-wagon {
  &:before {
    content: $ra-coal-wagon; 
  }
}

.ra-coffee-mug {
  &:before {
    content: $ra-coffee-mug; 
  }
}

.ra-cog-wheel {
  &:before {
    content: $ra-cog-wheel; 
  }
}

.ra-cog {
  &:before {
    content: $ra-cog; 
  }
}

.ra-coins {
  &:before {
    content: $ra-coins; 
  }
}

.ra-cold-heart {
  &:before {
    content: $ra-cold-heart; 
  }
}

.ra-coliseum {
  &:before {
    content: $ra-coliseum; 
  }
}

.ra-compass {
  &:before {
    content: $ra-compass; 
  }
}

.ra-console-controller {
  &:before {
    content: $ra-console-controller; 
  }
}

.ra-conversation {
  &:before {
    content: $ra-conversation; 
  }
}

.ra-cook {
  &:before {
    content: $ra-cook; 
  }
}

.ra-corked-tube {
  &:before {
    content: $ra-corked-tube; 
  }
}

.ra-cowled {
  &:before {
    content: $ra-cowled; 
  }
}

.ra-crab-claw {
  &:before {
    content: $ra-crab-claw; 
  }
}

.ra-cracked-helm {
  &:before {
    content: $ra-cracked-helm; 
  }
}

.ra-cracked-shield {
  &:before {
    content: $ra-cracked-shield; 
  }
}

.ra-crested-helmet {
  &:before {
    content: $ra-crested-helmet; 
  }
}

.ra-croc-sword {
  &:before {
    content: $ra-croc-sword; 
  }
}

.ra-crossbow {
  &:before {
    content: $ra-crossbow; 
  }
}

.ra-crossed-axes {
  &:before {
    content: $ra-crossed-axes; 
  }
}

.ra-crossed-bones {
  &:before {
    content: $ra-crossed-bones; 
  }
}

.ra-crossed-sabres {
  &:before {
    content: $ra-crossed-sabres; 
  }
}

.ra-crossed-swords {
  &:before {
    content: $ra-crossed-swords; 
  }
}

.ra-crown-of-thorns {
  &:before {
    content: $ra-crown-of-thorns; 
  }
}

.ra-crown {
  &:before {
    content: $ra-crown; 
  }
}

.ra-crowned-heart {
  &:before {
    content: $ra-crowned-heart; 
  }
}

.ra-crush {
  &:before {
    content: $ra-crush; 
  }
}

.ra-crystal-ball {
  &:before {
    content: $ra-crystal-ball; 
  }
}

.ra-crystal-cluster {
  &:before {
    content: $ra-crystal-cluster; 
  }
}

.ra-crystal-growth {
  &:before {
    content: $ra-crystal-growth; 
  }
}

.ra-crystal-wand {
  &:before {
    content: $ra-crystal-wand; 
  }
}

.ra-crystals {
  &:before {
    content: $ra-crystals; 
  }
}

.ra-cubes {
  &:before {
    content: $ra-cubes; 
  }
}

.ra-cultist {
  &:before {
    content: $ra-cultist; 
  }
}

.ra-cut-palm {
  &:before {
    content: $ra-cut-palm; 
  }
}

.ra-cycle {
  &:before {
    content: $ra-cycle; 
  }
}

.ra-daggers {
  &:before {
    content: $ra-daggers; 
  }
}

.ra-daisy {
  &:before {
    content: $ra-daisy; 
  }
}

.ra-dead-tree {
  &:before {
    content: $ra-dead-tree; 
  }
}

.ra-death-skull {
  &:before {
    content: $ra-death-skull; 
  }
}

.ra-decapitation {
  &:before {
    content: $ra-decapitation; 
  }
}

.ra-defibrillate {
  &:before {
    content: $ra-defibrillate; 
  }
}

.ra-demolish {
  &:before {
    content: $ra-demolish; 
  }
}

.ra-dervish-swords {
  &:before {
    content: $ra-dervish-swords; 
  }
}

.ra-desert-skull {
  &:before {
    content: $ra-desert-skull; 
  }
}

.ra-diamond-hard {
  &:before {
    content: $ra-diamond-hard; 
  }
}

.ra-diamond-hilt {
  &:before {
    content: $ra-diamond-hilt; 
  }
}

.ra-diamond {
  &:before {
    content: $ra-diamond; 
  }
}

.ra-diamonds-card {
  &:before {
    content: $ra-diamonds-card; 
  }
}

.ra-diamonds {
  &:before {
    content: $ra-diamonds; 
  }
}

.ra-dice-five {
  &:before {
    content: $ra-dice-five; 
  }
}

.ra-dice-four {
  &:before {
    content: $ra-dice-four; 
  }
}

.ra-dice-one {
  &:before {
    content: $ra-dice-one; 
  }
}

.ra-dice-six {
  &:before {
    content: $ra-dice-six; 
  }
}

.ra-dice-three {
  &:before {
    content: $ra-dice-three; 
  }
}

.ra-dice-two {
  &:before {
    content: $ra-dice-two; 
  }
}

.ra-dig-dug {
  &:before {
    content: $ra-dig-dug; 
  }
}

.ra-dinosaur {
  &:before {
    content: $ra-dinosaur; 
  }
}

.ra-direction-signs {
  &:before {
    content: $ra-direction-signs; 
  }
}

.ra-divert {
  &:before {
    content: $ra-divert; 
  }
}

.ra-diving-dagger {
  &:before {
    content: $ra-diving-dagger; 
  }
}

.ra-double-team {
  &:before {
    content: $ra-double-team; 
  }
}

.ra-doubled {
  &:before {
    content: $ra-doubled; 
  }
}

.ra-dragon-breath {
  &:before {
    content: $ra-dragon-breath; 
  }
}

.ra-dragon-wing {
  &:before {
    content: $ra-dragon-wing; 
  }
}

.ra-dragon {
  &:before {
    content: $ra-dragon; 
  }
}

.ra-dragonfly {
  &:before {
    content: $ra-dragonfly; 
  }
}

.ra-drill {
  &:before {
    content: $ra-drill; 
  }
}

.ra-dripping-blade {
  &:before {
    content: $ra-dripping-blade; 
  }
}

.ra-dripping-knife {
  &:before {
    content: $ra-dripping-knife; 
  }
}

.ra-dripping-sword {
  &:before {
    content: $ra-dripping-sword; 
  }
}

.ra-drop-weapon {
  &:before {
    content: $ra-drop-weapon; 
  }
}

.ra-droplet-splash {
  &:before {
    content: $ra-droplet-splash; 
  }
}

.ra-droplet {
  &:before {
    content: $ra-droplet; 
  }
}

.ra-droplets {
  &:before {
    content: $ra-droplets; 
  }
}

.ra-dwarf-face {
  &:before {
    content: $ra-dwarf-face; 
  }
}

.ra-dwarf-helmet {
  &:before {
    content: $ra-dwarf-helmet; 
  }
}

.ra-earth-crack {
  &:before {
    content: $ra-earth-crack; 
  }
}

.ra-egg-pod {
  &:before {
    content: $ra-egg-pod; 
  }
}

.ra-egg {
  &:before {
    content: $ra-egg; 
  }
}

.ra-eggplant {
  &:before {
    content: $ra-eggplant; 
  }
}

.ra-elf-helmet {
  &:before {
    content: $ra-elf-helmet; 
  }
}

.ra-embrassed-energy {
  &:before {
    content: $ra-embrassed-energy; 
  }
}

.ra-emerald {
  &:before {
    content: $ra-emerald; 
  }
}

.ra-energise {
  &:before {
    content: $ra-energise; 
  }
}

.ra-executioner-hood {
  &:before {
    content: $ra-executioner-hood; 
  }
}

.ra-explosion {
  &:before {
    content: $ra-explosion; 
  }
}

.ra-explosive-materials {
  &:before {
    content: $ra-explosive-materials; 
  }
}

.ra-eye-monster {
  &:before {
    content: $ra-eye-monster; 
  }
}

.ra-eye-shield {
  &:before {
    content: $ra-eye-shield; 
  }
}

.ra-eyeball {
  &:before {
    content: $ra-eyeball; 
  }
}

.ra-fairy-wand {
  &:before {
    content: $ra-fairy-wand; 
  }
}

.ra-fairy {
  &:before {
    content: $ra-fairy; 
  }
}

.ra-fall-down {
  &:before {
    content: $ra-fall-down; 
  }
}

.ra-falling {
  &:before {
    content: $ra-falling; 
  }
}

.ra-fast-ship {
  &:before {
    content: $ra-fast-ship; 
  }
}

.ra-feather-wing {
  &:before {
    content: $ra-feather-wing; 
  }
}

.ra-feathered-wing {
  &:before {
    content: $ra-feathered-wing; 
  }
}

.ra-fedora {
  &:before {
    content: $ra-fedora; 
  }
}

.ra-fire-axe {
  &:before {
    content: $ra-fire-axe; 
  }
}

.ra-fire-bomb {
  &:before {
    content: $ra-fire-bomb; 
  }
}

.ra-fire-breath {
  &:before {
    content: $ra-fire-breath; 
  }
}

.ra-fire-ring {
  &:before {
    content: $ra-fire-ring; 
  }
}

.ra-fire-shield {
  &:before {
    content: $ra-fire-shield; 
  }
}

.ra-fire-symbol {
  &:before {
    content: $ra-fire-symbol; 
  }
}

.ra-fire {
  &:before {
    content: $ra-fire; 
  }
}

.ra-fireball-sword {
  &:before {
    content: $ra-fireball-sword; 
  }
}

.ra-fish {
  &:before {
    content: $ra-fish; 
  }
}

.ra-fizzing-flask {
  &:before {
    content: $ra-fizzing-flask; 
  }
}

.ra-flail {
  &:before {
    content: $ra-flail; 
  }
}

.ra-flame-symbol {
  &:before {
    content: $ra-flame-symbol; 
  }
}

.ra-flame {
  &:before {
    content: $ra-flame; 
  }
}

.ra-flaming-arrow {
  &:before {
    content: $ra-flaming-arrow; 
  }
}

.ra-flaming-claw {
  &:before {
    content: $ra-flaming-claw; 
  }
}

.ra-flaming-trident {
  &:before {
    content: $ra-flaming-trident; 
  }
}

.ra-flask {
  &:before {
    content: $ra-flask; 
  }
}

.ra-flat-hammer {
  &:before {
    content: $ra-flat-hammer; 
  }
}

.ra-flower {
  &:before {
    content: $ra-flower; 
  }
}

.ra-flowers {
  &:before {
    content: $ra-flowers; 
  }
}

.ra-fluffy-swirl {
  &:before {
    content: $ra-fluffy-swirl; 
  }
}

.ra-focused-lightning {
  &:before {
    content: $ra-focused-lightning; 
  }
}

.ra-food-chain {
  &:before {
    content: $ra-food-chain; 
  }
}

.ra-football-ball {
  &:before {
    content: $ra-football-ball; 
  }
}

.ra-footprint {
  &:before {
    content: $ra-footprint; 
  }
}

.ra-forging {
  &:before {
    content: $ra-forging; 
  }
}

.ra-forward {
  &:before {
    content: $ra-forward; 
  }
}

.ra-fox {
  &:before {
    content: $ra-fox; 
  }
}

.ra-frost-emblem {
  &:before {
    content: $ra-frost-emblem; 
  }
}

.ra-frostfire {
  &:before {
    content: $ra-frostfire; 
  }
}

.ra-frozen-arrow {
  &:before {
    content: $ra-frozen-arrow; 
  }
}

.ra-gamepad-cross {
  &:before {
    content: $ra-gamepad-cross; 
  }
}

.ra-gamepad {
  &:before {
    content: $ra-gamepad; 
  }
}

.ra-gauntlet {
  &:before {
    content: $ra-gauntlet; 
  }
}

.ra-gavel {
  &:before {
    content: $ra-gavel; 
  }
}

.ra-gear-hammer {
  &:before {
    content: $ra-gear-hammer; 
  }
}

.ra-gear-heart {
  &:before {
    content: $ra-gear-heart; 
  }
}

.ra-gears {
  &:before {
    content: $ra-gears; 
  }
}

.ra-gecko {
  &:before {
    content: $ra-gecko; 
  }
}

.ra-gem-chain {
  &:before {
    content: $ra-gem-chain; 
  }
}

.ra-gem-pendant {
  &:before {
    content: $ra-gem-pendant; 
  }
}

.ra-gemini {
  &:before {
    content: $ra-gemini; 
  }
}

.ra-gift-of-knowledge {
  &:before {
    content: $ra-gift-of-knowledge; 
  }
}

.ra-gladius {
  &:before {
    content: $ra-gladius; 
  }
}

.ra-glass-heart {
  &:before {
    content: $ra-glass-heart; 
  }
}

.ra-gloop {
  &:before {
    content: $ra-gloop; 
  }
}

.ra-gold-bar {
  &:before {
    content: $ra-gold-bar; 
  }
}

.ra-gold-mine {
  &:before {
    content: $ra-gold-mine; 
  }
}

.ra-gold-stack {
  &:before {
    content: $ra-gold-stack; 
  }
}

.ra-graduate-cap {
  &:before {
    content: $ra-graduate-cap; 
  }
}

.ra-grappling-hook {
  &:before {
    content: $ra-grappling-hook; 
  }
}

.ra-grass-patch {
  &:before {
    content: $ra-grass-patch; 
  }
}

.ra-grass {
  &:before {
    content: $ra-grass; 
  }
}

.ra-greek-temple {
  &:before {
    content: $ra-greek-temple; 
  }
}

.ra-groundbreaker {
  &:before {
    content: $ra-groundbreaker; 
  }
}

.ra-guarded-tower {
  &:before {
    content: $ra-guarded-tower; 
  }
}

.ra-guillotine {
  &:before {
    content: $ra-guillotine; 
  }
}

.ra-halberd {
  &:before {
    content: $ra-halberd; 
  }
}

.ra-ham-shank {
  &:before {
    content: $ra-ham-shank; 
  }
}

.ra-hammer-drop {
  &:before {
    content: $ra-hammer-drop; 
  }
}

.ra-hammer {
  &:before {
    content: $ra-hammer; 
  }
}

.ra-hand-emblem {
  &:before {
    content: $ra-hand-emblem; 
  }
}

.ra-hand-saw {
  &:before {
    content: $ra-hand-saw; 
  }
}

.ra-hand {
  &:before {
    content: $ra-hand; 
  }
}

.ra-hanging-sign {
  &:before {
    content: $ra-hanging-sign; 
  }
}

.ra-harpoon-trident {
  &:before {
    content: $ra-harpoon-trident; 
  }
}

.ra-hatchet {
  &:before {
    content: $ra-hatchet; 
  }
}

.ra-health-decrease {
  &:before {
    content: $ra-health-decrease; 
  }
}

.ra-health-increase {
  &:before {
    content: $ra-health-increase; 
  }
}

.ra-health {
  &:before {
    content: $ra-health; 
  }
}

.ra-heart-bottle {
  &:before {
    content: $ra-heart-bottle; 
  }
}

.ra-heart-tower {
  &:before {
    content: $ra-heart-tower; 
  }
}

.ra-heartburn {
  &:before {
    content: $ra-heartburn; 
  }
}

.ra-hearts-card {
  &:before {
    content: $ra-hearts-card; 
  }
}

.ra-hearts {
  &:before {
    content: $ra-hearts; 
  }
}

.ra-heat-haze {
  &:before {
    content: $ra-heat-haze; 
  }
}

.ra-heavy-fall {
  &:before {
    content: $ra-heavy-fall; 
  }
}

.ra-heavy-shield {
  &:before {
    content: $ra-heavy-shield; 
  }
}

.ra-helmet {
  &:before {
    content: $ra-helmet; 
  }
}

.ra-help {
  &:before {
    content: $ra-help; 
  }
}

.ra-hive-emblem {
  &:before {
    content: $ra-hive-emblem; 
  }
}

.ra-hole-ladder {
  &:before {
    content: $ra-hole-ladder; 
  }
}

.ra-honeycomb {
  &:before {
    content: $ra-honeycomb; 
  }
}

.ra-hood {
  &:before {
    content: $ra-hood; 
  }
}

.ra-horn-call {
  &:before {
    content: $ra-horn-call; 
  }
}

.ra-horns {
  &:before {
    content: $ra-horns; 
  }
}

.ra-horseshoe {
  &:before {
    content: $ra-horseshoe; 
  }
}

.ra-hospital-cross {
  &:before {
    content: $ra-hospital-cross; 
  }
}

.ra-hot-surface {
  &:before {
    content: $ra-hot-surface; 
  }
}

.ra-hourglass {
  &:before {
    content: $ra-hourglass; 
  }
}

.ra-house {
  &:before {
    content: $ra-house; 
  }
}

.ra-hunting-horn {
  &:before {
    content: $ra-hunting-horn; 
  }
}

.ra-hydra-shot {
  &:before {
    content: $ra-hydra-shot; 
  }
}

.ra-hydra {
  &:before {
    content: $ra-hydra; 
  }
}

.ra-ice-cube {
  &:before {
    content: $ra-ice-cube; 
  }
}

.ra-ifrit {
  &:before {
    content: $ra-ifrit; 
  }
}

.ra-imperial-crown {
  &:before {
    content: $ra-imperial-crown; 
  }
}

.ra-implosion {
  &:before {
    content: $ra-implosion; 
  }
}

.ra-incense {
  &:before {
    content: $ra-incense; 
  }
}

.ra-insect-jaws {
  &:before {
    content: $ra-insect-jaws; 
  }
}

.ra-interdiction {
  &:before {
    content: $ra-interdiction; 
  }
}

.ra-invisible {
  &:before {
    content: $ra-invisible; 
  }
}

.ra-jester-hat {
  &:before {
    content: $ra-jester-hat; 
  }
}

.ra-jewel-crown {
  &:before {
    content: $ra-jewel-crown; 
  }
}

.ra-jigsaw-piece {
  &:before {
    content: $ra-jigsaw-piece; 
  }
}

.ra-kaleidoscope {
  &:before {
    content: $ra-kaleidoscope; 
  }
}

.ra-kettlebell {
  &:before {
    content: $ra-kettlebell; 
  }
}

.ra-key-basic {
  &:before {
    content: $ra-key-basic; 
  }
}

.ra-key {
  &:before {
    content: $ra-key; 
  }
}

.ra-kitchen-knives {
  &:before {
    content: $ra-kitchen-knives; 
  }
}

.ra-knife-fork {
  &:before {
    content: $ra-knife-fork; 
  }
}

.ra-knife {
  &:before {
    content: $ra-knife; 
  }
}

.ra-knight-banner {
  &:before {
    content: $ra-knight-banner; 
  }
}

.ra-knight-helmet {
  &:before {
    content: $ra-knight-helmet; 
  }
}

.ra-kunai {
  &:before {
    content: $ra-kunai; 
  }
}

.ra-lantern-flame {
  &:before {
    content: $ra-lantern-flame; 
  }
}

.ra-large-hammer {
  &:before {
    content: $ra-large-hammer; 
  }
}

.ra-lava {
  &:before {
    content: $ra-lava; 
  }
}

.ra-leaf {
  &:before {
    content: $ra-leaf; 
  }
}

.ra-leg-armor {
  &:before {
    content: $ra-leg-armor; 
  }
}

.ra-leo {
  &:before {
    content: $ra-leo; 
  }
}

.ra-level-four-advanced {
  &:before {
    content: $ra-level-four-advanced; 
  }
}

.ra-level-four {
  &:before {
    content: $ra-level-four; 
  }
}

.ra-level-three-advanced {
  &:before {
    content: $ra-level-three-advanced; 
  }
}

.ra-level-three {
  &:before {
    content: $ra-level-three; 
  }
}

.ra-level-two-advanced {
  &:before {
    content: $ra-level-two-advanced; 
  }
}

.ra-level-two {
  &:before {
    content: $ra-level-two; 
  }
}

.ra-lever {
  &:before {
    content: $ra-lever; 
  }
}

.ra-libra {
  &:before {
    content: $ra-libra; 
  }
}

.ra-light-bulb {
  &:before {
    content: $ra-light-bulb; 
  }
}

.ra-lighthouse {
  &:before {
    content: $ra-lighthouse; 
  }
}

.ra-lightning-bolt {
  &:before {
    content: $ra-lightning-bolt; 
  }
}

.ra-lightning-storm {
  &:before {
    content: $ra-lightning-storm; 
  }
}

.ra-lightning-sword {
  &:before {
    content: $ra-lightning-sword; 
  }
}

.ra-lightning-trio {
  &:before {
    content: $ra-lightning-trio; 
  }
}

.ra-lightning {
  &:before {
    content: $ra-lightning; 
  }
}

.ra-lion {
  &:before {
    content: $ra-lion; 
  }
}

.ra-lit-candelabra {
  &:before {
    content: $ra-lit-candelabra; 
  }
}

.ra-locked-fortress {
  &:before {
    content: $ra-locked-fortress; 
  }
}

.ra-love-howl {
  &:before {
    content: $ra-love-howl; 
  }
}

.ra-maggot {
  &:before {
    content: $ra-maggot; 
  }
}

.ra-magic-axe {
  &:before {
    content: $ra-magic-axe; 
  }
}

.ra-magic-shield {
  &:before {
    content: $ra-magic-shield; 
  }
}

.ra-magnet {
  &:before {
    content: $ra-magnet; 
  }
}

.ra-mass-driver {
  &:before {
    content: $ra-mass-driver; 
  }
}

.ra-match {
  &:before {
    content: $ra-match; 
  }
}

.ra-materials-science {
  &:before {
    content: $ra-materials-science; 
  }
}

.ra-meat-hook {
  &:before {
    content: $ra-meat-hook; 
  }
}

.ra-meat {
  &:before {
    content: $ra-meat; 
  }
}

.ra-medical-pack {
  &:before {
    content: $ra-medical-pack; 
  }
}

.ra-medieval-barracks {
  &:before {
    content: $ra-medieval-barracks; 
  }
}

.ra-medieval-gate {
  &:before {
    content: $ra-medieval-gate; 
  }
}

.ra-metal-gate {
  &:before {
    content: $ra-metal-gate; 
  }
}

.ra-mighty-force {
  &:before {
    content: $ra-mighty-force; 
  }
}

.ra-mine-wagon {
  &:before {
    content: $ra-mine-wagon; 
  }
}

.ra-minerals {
  &:before {
    content: $ra-minerals; 
  }
}

.ra-mining-diamonds {
  &:before {
    content: $ra-mining-diamonds; 
  }
}

.ra-mirror {
  &:before {
    content: $ra-mirror; 
  }
}

.ra-monster-skull {
  &:before {
    content: $ra-monster-skull; 
  }
}

.ra-moon-sun {
  &:before {
    content: $ra-moon-sun; 
  }
}

.ra-mountains {
  &:before {
    content: $ra-mountains; 
  }
}

.ra-muscle-fat {
  &:before {
    content: $ra-muscle-fat; 
  }
}

.ra-muscle-up {
  &:before {
    content: $ra-muscle-up; 
  }
}

.ra-nails {
  &:before {
    content: $ra-nails; 
  }
}

.ra-newspaper {
  &:before {
    content: $ra-newspaper; 
  }
}

.ra-nodular {
  &:before {
    content: $ra-nodular; 
  }
}

.ra-noose {
  &:before {
    content: $ra-noose; 
  }
}

.ra-nuclear {
  &:before {
    content: $ra-nuclear; 
  }
}

.ra-ocarina {
  &:before {
    content: $ra-ocarina; 
  }
}

.ra-ocean-emblem {
  &:before {
    content: $ra-ocean-emblem; 
  }
}

.ra-octopus {
  &:before {
    content: $ra-octopus; 
  }
}

.ra-omega {
  &:before {
    content: $ra-omega; 
  }
}

.ra-on-target {
  &:before {
    content: $ra-on-target; 
  }
}

.ra-open-chest {
  &:before {
    content: $ra-open-chest; 
  }
}

.ra-ophiuchus {
  &:before {
    content: $ra-ophiuchus; 
  }
}

.ra-orb-wand {
  &:before {
    content: $ra-orb-wand; 
  }
}

.ra-ore {
  &:before {
    content: $ra-ore; 
  }
}

.ra-overhead {
  &:before {
    content: $ra-overhead; 
  }
}

.ra-overmind {
  &:before {
    content: $ra-overmind; 
  }
}

.ra-padlock {
  &:before {
    content: $ra-padlock; 
  }
}

.ra-palm-tree {
  &:before {
    content: $ra-palm-tree; 
  }
}

.ra-pawn {
  &:before {
    content: $ra-pawn; 
  }
}

.ra-pawprint {
  &:before {
    content: $ra-pawprint; 
  }
}

.ra-pig {
  &:before {
    content: $ra-pig; 
  }
}

.ra-pill {
  &:before {
    content: $ra-pill; 
  }
}

.ra-pills {
  &:before {
    content: $ra-pills; 
  }
}

.ra-pine-tree {
  &:before {
    content: $ra-pine-tree; 
  }
}

.ra-ping-pong {
  &:before {
    content: $ra-ping-pong; 
  }
}

.ra-pisces {
  &:before {
    content: $ra-pisces; 
  }
}

.ra-plain-dagger {
  &:before {
    content: $ra-plain-dagger; 
  }
}

.ra-player-despair {
  &:before {
    content: $ra-player-despair; 
  }
}

.ra-player-dodge {
  &:before {
    content: $ra-player-dodge; 
  }
}

.ra-player-king {
  &:before {
    content: $ra-player-king; 
  }
}

.ra-player-lift {
  &:before {
    content: $ra-player-lift; 
  }
}

.ra-player-pain {
  &:before {
    content: $ra-player-pain; 
  }
}

.ra-player-pyromaniac {
  &:before {
    content: $ra-player-pyromaniac; 
  }
}

.ra-player-shot {
  &:before {
    content: $ra-player-shot; 
  }
}

.ra-player-teleport {
  &:before {
    content: $ra-player-teleport; 
  }
}

.ra-player-thunder-struck {
  &:before {
    content: $ra-player-thunder-struck; 
  }
}

.ra-player {
  &:before {
    content: $ra-player; 
  }
}

.ra-podium {
  &:before {
    content: $ra-podium; 
  }
}

.ra-pointy-hat {
  &:before {
    content: $ra-pointy-hat; 
  }
}

.ra-poison-cloud {
  &:before {
    content: $ra-poison-cloud; 
  }
}

.ra-potion-ball {
  &:before {
    content: $ra-potion-ball; 
  }
}

.ra-potion {
  &:before {
    content: $ra-potion; 
  }
}

.ra-prank-glasses {
  &:before {
    content: $ra-prank-glasses; 
  }
}

.ra-psychic-waves {
  &:before {
    content: $ra-psychic-waves; 
  }
}

.ra-pumpkin-lantern {
  &:before {
    content: $ra-pumpkin-lantern; 
  }
}

.ra-pyramids {
  &:before {
    content: $ra-pyramids; 
  }
}

.ra-queen-crown {
  &:before {
    content: $ra-queen-crown; 
  }
}

.ra-quill-ink {
  &:before {
    content: $ra-quill-ink; 
  }
}

.ra-rabbit {
  &:before {
    content: $ra-rabbit; 
  }
}

.ra-radial-balance {
  &:before {
    content: $ra-radial-balance; 
  }
}

.ra-radioactive {
  &:before {
    content: $ra-radioactive; 
  }
}

.ra-raise-zombie {
  &:before {
    content: $ra-raise-zombie; 
  }
}

.ra-raven {
  &:before {
    content: $ra-raven; 
  }
}

.ra-reactor {
  &:before {
    content: $ra-reactor; 
  }
}

.ra-recycle {
  &:before {
    content: $ra-recycle; 
  }
}

.ra-regeneration {
  &:before {
    content: $ra-regeneration; 
  }
}

.ra-relic-blade {
  &:before {
    content: $ra-relic-blade; 
  }
}

.ra-repair {
  &:before {
    content: $ra-repair; 
  }
}

.ra-reverse {
  &:before {
    content: $ra-reverse; 
  }
}

.ra-ring {
  &:before {
    content: $ra-ring; 
  }
}

.ra-ringing-bell {
  &:before {
    content: $ra-ringing-bell; 
  }
}

.ra-roast-chicken {
  &:before {
    content: $ra-roast-chicken; 
  }
}

.ra-robe {
  &:before {
    content: $ra-robe; 
  }
}

.ra-robot-arm {
  &:before {
    content: $ra-robot-arm; 
  }
}

.ra-round-bottom-flask {
  &:before {
    content: $ra-round-bottom-flask; 
  }
}

.ra-round-shield {
  &:before {
    content: $ra-round-shield; 
  }
}

.ra-rune-stone {
  &:before {
    content: $ra-rune-stone; 
  }
}

.ra-rupee {
  &:before {
    content: $ra-rupee; 
  }
}

.ra-sagittarius {
  &:before {
    content: $ra-sagittarius; 
  }
}

.ra-sapphire {
  &:before {
    content: $ra-sapphire; 
  }
}

.ra-scorpio {
  &:before {
    content: $ra-scorpio; 
  }
}

.ra-scroll-quill {
  &:before {
    content: $ra-scroll-quill; 
  }
}

.ra-scroll-unfurled {
  &:before {
    content: $ra-scroll-unfurled; 
  }
}

.ra-scythe {
  &:before {
    content: $ra-scythe; 
  }
}

.ra-sea-serpent {
  &:before {
    content: $ra-sea-serpent; 
  }
}

.ra-seagull {
  &:before {
    content: $ra-seagull; 
  }
}

.ra-shark {
  &:before {
    content: $ra-shark; 
  }
}

.ra-sheep {
  &:before {
    content: $ra-sheep; 
  }
}

.ra-sheriff {
  &:before {
    content: $ra-sheriff; 
  }
}

.ra-shield-reflect {
  &:before {
    content: $ra-shield-reflect; 
  }
}

.ra-shield {
  &:before {
    content: $ra-shield; 
  }
}

.ra-shinto-shrine {
  &:before {
    content: $ra-shinto-shrine; 
  }
}

.ra-shoe-prints {
  &:before {
    content: $ra-shoe-prints; 
  }
}

.ra-shot-through-the-heart {
  &:before {
    content: $ra-shot-through-the-heart; 
  }
}

.ra-shovel {
  &:before {
    content: $ra-shovel; 
  }
}

.ra-shuriken {
  &:before {
    content: $ra-shuriken; 
  }
}

.ra-sickle {
  &:before {
    content: $ra-sickle; 
  }
}

.ra-sideswipe {
  &:before {
    content: $ra-sideswipe; 
  }
}

.ra-sinagot {
  &:before {
    content: $ra-sinagot; 
  }
}

.ra-sinking-ship {
  &:before {
    content: $ra-sinking-ship; 
  }
}

.ra-skull-staff {
  &:before {
    content: $ra-skull-staff; 
  }
}

.ra-skull-trophy {
  &:before {
    content: $ra-skull-trophy; 
  }
}

.ra-skull {
  &:before {
    content: $ra-skull; 
  }
}

.ra-slash-ring {
  &:before {
    content: $ra-slash-ring; 
  }
}

.ra-sliced-bread {
  &:before {
    content: $ra-sliced-bread; 
  }
}

.ra-small-fire {
  &:before {
    content: $ra-small-fire; 
  }
}

.ra-snail {
  &:before {
    content: $ra-snail; 
  }
}

.ra-snake {
  &:before {
    content: $ra-snake; 
  }
}

.ra-snorkel {
  &:before {
    content: $ra-snorkel; 
  }
}

.ra-snowflake {
  &:before {
    content: $ra-snowflake; 
  }
}

.ra-soccer-ball {
  &:before {
    content: $ra-soccer-ball; 
  }
}

.ra-spades-card {
  &:before {
    content: $ra-spades-card; 
  }
}

.ra-spades {
  &:before {
    content: $ra-spades; 
  }
}

.ra-spartan-helmet {
  &:before {
    content: $ra-spartan-helmet; 
  }
}

.ra-spear-head {
  &:before {
    content: $ra-spear-head; 
  }
}

.ra-speech-bubble {
  &:before {
    content: $ra-speech-bubble; 
  }
}

.ra-speech-bubbles {
  &:before {
    content: $ra-speech-bubbles; 
  }
}

.ra-spell-book {
  &:before {
    content: $ra-spell-book; 
  }
}

.ra-spider-alt {
  &:before {
    content: $ra-spider-alt; 
  }
}

.ra-spider-face {
  &:before {
    content: $ra-spider-face; 
  }
}

.ra-spikeball {
  &:before {
    content: $ra-spikeball; 
  }
}

.ra-spiked-ball {
  &:before {
    content: $ra-spiked-ball; 
  }
}

.ra-spiked-bat {
  &:before {
    content: $ra-spiked-bat; 
  }
}

.ra-spiked-mace {
  &:before {
    content: $ra-spiked-mace; 
  }
}

.ra-spiked-shield {
  &:before {
    content: $ra-spiked-shield; 
  }
}

.ra-spiked-shoulder-armor {
  &:before {
    content: $ra-spiked-shoulder-armor; 
  }
}

.ra-spiked-tentacle {
  &:before {
    content: $ra-spiked-tentacle; 
  }
}

.ra-spinning-sword {
  &:before {
    content: $ra-spinning-sword; 
  }
}

.ra-spiral-shell {
  &:before {
    content: $ra-spiral-shell; 
  }
}

.ra-splash {
  &:before {
    content: $ra-splash; 
  }
}

.ra-sprout-emblem {
  &:before {
    content: $ra-sprout-emblem; 
  }
}

.ra-sprout {
  &:before {
    content: $ra-sprout; 
  }
}

.ra-spy {
  &:before {
    content: $ra-spy; 
  }
}

.ra-spyglass {
  &:before {
    content: $ra-spyglass; 
  }
}

.ra-stabbed-note {
  &:before {
    content: $ra-stabbed-note; 
  }
}

.ra-stone-block {
  &:before {
    content: $ra-stone-block; 
  }
}

.ra-stone-pile {
  &:before {
    content: $ra-stone-pile; 
  }
}

.ra-stone-throne {
  &:before {
    content: $ra-stone-throne; 
  }
}

.ra-stone-tower {
  &:before {
    content: $ra-stone-tower; 
  }
}

.ra-stopwatch {
  &:before {
    content: $ra-stopwatch; 
  }
}

.ra-suckered-tentacle {
  &:before {
    content: $ra-suckered-tentacle; 
  }
}

.ra-suits {
  &:before {
    content: $ra-suits; 
  }
}

.ra-summits {
  &:before {
    content: $ra-summits; 
  }
}

.ra-sun-symbol {
  &:before {
    content: $ra-sun-symbol; 
  }
}

.ra-sun {
  &:before {
    content: $ra-sun; 
  }
}

.ra-sunbeams {
  &:before {
    content: $ra-sunbeams; 
  }
}

.ra-super-mushroom {
  &:before {
    content: $ra-super-mushroom; 
  }
}

.ra-supersonic-arrow {
  &:before {
    content: $ra-supersonic-arrow; 
  }
}

.ra-sword {
  &:before {
    content: $ra-sword; 
  }
}

.ra-sword-clash {
  &:before {
    content: $ra-sword-clash; 
  }
}

.ra-target-arrows {
  &:before {
    content: $ra-target-arrows; 
  }
}

.ra-target-dummy {
  &:before {
    content: $ra-target-dummy; 
  }
}

.ra-target-poster {
  &:before {
    content: $ra-target-poster; 
  }
}

.ra-taurus {
  &:before {
    content: $ra-taurus; 
  }
}

.ra-telescope {
  &:before {
    content: $ra-telescope; 
  }
}

.ra-tentacle {
  &:before {
    content: $ra-tentacle; 
  }
}

.ra-thorn-arrow {
  &:before {
    content: $ra-thorn-arrow; 
  }
}

.ra-thorny-vine {
  &:before {
    content: $ra-thorny-vine; 
  }
}

.ra-three-keys {
  &:before {
    content: $ra-three-keys; 
  }
}

.ra-tied-scroll {
  &:before {
    content: $ra-tied-scroll; 
  }
}

.ra-toast {
  &:before {
    content: $ra-toast; 
  }
}

.ra-tombstone {
  &:before {
    content: $ra-tombstone; 
  }
}

.ra-tooth {
  &:before {
    content: $ra-tooth; 
  }
}

.ra-torch {
  &:before {
    content: $ra-torch; 
  }
}

.ra-tornado {
  &:before {
    content: $ra-tornado; 
  }
}

.ra-tower {
  &:before {
    content: $ra-tower; 
  }
}

.ra-trail {
  &:before {
    content: $ra-trail; 
  }
}

.ra-treasure-map {
  &:before {
    content: $ra-treasure-map; 
  }
}

.ra-trefoil-lily {
  &:before {
    content: $ra-trefoil-lily; 
  }
}

.ra-trident {
  &:before {
    content: $ra-trident; 
  }
}

.ra-triforce {
  &:before {
    content: $ra-triforce; 
  }
}

.ra-trophy {
  &:before {
    content: $ra-trophy; 
  }
}

.ra-trumpet-flag {
  &:before {
    content: $ra-trumpet-flag; 
  }
}

.ra-turd {
  &:before {
    content: $ra-turd; 
  }
}

.ra-two-dragons {
  &:before {
    content: $ra-two-dragons; 
  }
}

.ra-two-hearts {
  &:before {
    content: $ra-two-hearts; 
  }
}

.ra-uncertainty {
  &:before {
    content: $ra-uncertainty; 
  }
}

.ra-underhand {
  &:before {
    content: $ra-underhand; 
  }
}

.ra-upgrade {
  &:before {
    content: $ra-upgrade; 
  }
}

.ra-vase {
  &:before {
    content: $ra-vase; 
  }
}

.ra-venomous-snake {
  &:before {
    content: $ra-venomous-snake; 
  }
}

.ra-vertical-banner {
  &:before {
    content: $ra-vertical-banner; 
  }
}

.ra-vial {
  &:before {
    content: $ra-vial; 
  }
}

.ra-vine-whip {
  &:before {
    content: $ra-vine-whip; 
  }
}

.ra-virgo {
  &:before {
    content: $ra-virgo; 
  }
}

.ra-wanted-reward {
  &:before {
    content: $ra-wanted-reward; 
  }
}

.ra-war-axe {
  &:before {
    content: $ra-war-axe; 
  }
}

.ra-warhammer {
  &:before {
    content: $ra-warhammer; 
  }
}

.ra-warlord-helmet {
  &:before {
    content: $ra-warlord-helmet; 
  }
}

.ra-watchtower {
  &:before {
    content: $ra-watchtower; 
  }
}

.ra-water-drop {
  &:before {
    content: $ra-water-drop; 
  }
}

.ra-water-mill {
  &:before {
    content: $ra-water-mill; 
  }
}

.ra-wave-crest {
  &:before {
    content: $ra-wave-crest; 
  }
}

.ra-white-book {
  &:before {
    content: $ra-white-book; 
  }
}

.ra-white-tower {
  &:before {
    content: $ra-white-tower; 
  }
}

.ra-winged-scepter {
  &:before {
    content: $ra-winged-scepter; 
  }
}

.ra-wizard-face {
  &:before {
    content: $ra-wizard-face; 
  }
}

.ra-wizard-staff {
  &:before {
    content: $ra-wizard-staff; 
  }
}

.ra-wolf-head {
  &:before {
    content: $ra-wolf-head; 
  }
}

.ra-wolf-howl {
  &:before {
    content: $ra-wolf-howl; 
  }
}

.ra-wolf-trap {
  &:before {
    content: $ra-wolf-trap; 
  }
}

.ra-wood-axe {
  &:before {
    content: $ra-wood-axe; 
  }
}

.ra-wood-beam {
  &:before {
    content: $ra-wood-beam; 
  }
}

.ra-wood-pile {
  &:before {
    content: $ra-wood-pile; 
  }
}

.ra-wooden-pier {
  &:before {
    content: $ra-wooden-pier; 
  }
}

.ra-wooden-sign {
  &:before {
    content: $ra-wooden-sign; 
  }
}

.ra-world {
  &:before {
    content: $ra-world; 
  }
}

.ra-wrench {
  &:before {
    content: $ra-wrench; 
  }
}

.ra-wyvern {
  &:before {
    content: $ra-wyvern; 
  }
}

.ra-x-mark {
  &:before {
    content: $ra-x-mark; 
  }
}

.ra-zebra-shield {
  &:before {
    content: $ra-zebra-shield; 
  }
}

.ra-zigzag-leaf {
  &:before {
    content: $ra-zigzag-leaf; 
  }
}
