// Variables
// --------------------------

$ra-font-path:        '../fonts' !default;
$ra-css-prefix:       ra !default;
$ra-version:          '0.0.13' !default;
$ra-border-color:     #eee !default;
$ra-inverse:          #fff !default;
$ra-li-width:         (30em / 14) !default;

$ra-abacus: '\e900';
$ra-achievement: '\e901';
$ra-acid: '\e902';
$ra-acorn: '\e903';
$ra-alien-fire: '\e904';
$ra-all-for-one: '\e905';
$ra-amethyst: '\e906';
$ra-amphora: '\e907';
$ra-amputation: '\e908';
$ra-anchor: '\e909';
$ra-angel-wings: '\e90a';
$ra-ankh: '\e90b';
$ra-anvil: '\e90c';
$ra-apothecary: '\e90d';
$ra-apple: '\e90e';
$ra-aquarius: '\e90f';
$ra-arcane-mask: '\e910';
$ra-archer: '\e911';
$ra-archery-target: '\e912';
$ra-arena: '\e913';
$ra-aries: '\e914';
$ra-arrow-cluster: '\e915';
$ra-arrow-flights: '\e916';
$ra-arson: '\e917';
$ra-ascending-block: '\e918';
$ra-aura: '\e919';
$ra-aware: '\e91a';
$ra-axe-in-log: '\e91b';
$ra-axe-swing: '\e91c';
$ra-axe-sword: '\e91d';
$ra-axe: '\e91e';
$ra-banknote: '\e91f';
$ra-barbed-arrow: '\e920';
$ra-basketball-ball: '\e921';
$ra-bat-sword: '\e922';
$ra-battered-axe: '\e923';
$ra-batteries: '\e924';
$ra-batwings: '\e925';
$ra-beam-wake: '\e926';
$ra-bear-trap: '\e927';
$ra-beer: '\e928';
$ra-beetle: '\e929';
$ra-bell: '\e92a';
$ra-biohazard: '\e92b';
$ra-bird-claw: '\e92c';
$ra-bird-mask: '\e92d';
$ra-blade-bite: '\e92e';
$ra-blast: '\e92f';
$ra-blaster: '\e930';
$ra-bleeding-eye: '\e931';
$ra-bleeding-hearts: '\e932';
$ra-bolt-shield: '\e933';
$ra-bomb-explosion: '\e934';
$ra-bombs: '\e935';
$ra-bone-bite: '\e936';
$ra-bone-knife: '\e937';
$ra-book: '\e938';
$ra-boomerang: '\e939';
$ra-boot-stomp: '\e93a';
$ra-bottle-vapors: '\e93b';
$ra-bottled-bolt: '\e93c';
$ra-bottom-right: '\e93d';
$ra-bowie-knife: '\e93e';
$ra-bowling-pin: '\e93f';
$ra-brain-freeze: '\e940';
$ra-brandy-bottle: '\e941';
$ra-bridge: '\e942';
$ra-broadhead-arrow: '\e943';
$ra-broken-arrow: '\e944';
$ra-broken-bone: '\e945';
$ra-broken-bottle: '\e946';
$ra-broken-heart: '\e947';
$ra-broken-shield: '\e948';
$ra-broken-skull: '\e949';
$ra-brutal-helm: '\e94a';
$ra-bubbling-potion: '\e94b';
$ra-burning-book: '\e94c';
$ra-burning-embers: '\e94d';
$ra-burning-eye: '\e94e';
$ra-burning-meteor: '\e94f';
$ra-burning-skull: '\e950';
$ra-burst-blob: '\e951';
$ra-butterfly: '\e952';
$ra-byzantin-temple: '\e953';
$ra-campfire: '\e954';
$ra-camping-tent: '\e955';
$ra-cancer: '\e956';
$ra-candle-fire: '\e957';
$ra-candle: '\e958';
$ra-cannon-shot: '\e959';
$ra-capitol: '\e95a';
$ra-capricorn: '\e95b';
$ra-caravel: '\e95c';
$ra-carrot: '\e95d';
$ra-castle-emblem: '\e95e';
$ra-castle-flag: '\e95f';
$ra-castle-ruins: '\e960';
$ra-castle: '\e961';
$ra-cat: '\e962';
$ra-cauldron: '\e963';
$ra-chain: '\e964';
$ra-cheese: '\e965';
$ra-chemical-arrow: '\e966';
$ra-chessboard: '\e967';
$ra-chicken-leg: '\e968';
$ra-circle-of-circles: '\e969';
$ra-circular-saw: '\e96a';
$ra-circular-shield: '\e96b';
$ra-cloak-and-dagger: '\e96c';
$ra-clockwork: '\e96d';
$ra-closed-barbute: '\e96e';
$ra-clover: '\e96f';
$ra-clovers-card: '\e970';
$ra-clovers: '\e971';
$ra-cluster-bomb: '\e972';
$ra-coal-wagon: '\e973';
$ra-coffee-mug: '\e974';
$ra-cog-wheel: '\e975';
$ra-cog: '\e976';
$ra-coins: '\e977';
$ra-cold-heart: '\e978';
$ra-compass: '\e979';
$ra-console-controller: '\e97a';
$ra-conversation: '\e97b';
$ra-corked-tube: '\e97c';
$ra-cowled: '\e97d';
$ra-crab-claw: '\e97e';
$ra-cracked-helm: '\e97f';
$ra-cracked-shield: '\e980';
$ra-croc-sword: '\e981';
$ra-crossbow: '\e982';
$ra-crossed-axes: '\e983';
$ra-crossed-bones: '\e984';
$ra-crossed-pistols: '\e985';
$ra-crossed-sabres: '\e986';
$ra-crossed-swords: '\e987';
$ra-crown-of-thorns: '\e988';
$ra-crown: '\e989';
$ra-crowned-heart: '\e98a';
$ra-crush: '\e98b';
$ra-crystal-ball: '\e98c';
$ra-crystal-cluster: '\e98d';
$ra-crystal-growth: '\e98e';
$ra-crystal-wand: '\e98f';
$ra-crystals: '\e990';
$ra-cubes: '\e991';
$ra-cultist: '\e992';
$ra-cut-palm: '\e993';
$ra-cycle: '\e994';
$ra-daggers: '\e995';
$ra-daisy: '\e996';
$ra-dead-tree: '\e997';
$ra-death-skull: '\e998';
$ra-decapitation: '\e999';
$ra-defibrillate: '\e99a';
$ra-demolish: '\e99b';
$ra-dervish-swords: '\e99c';
$ra-desert-skull: '\e99d';
$ra-diamond-hard: '\e99e';
$ra-diamond-hilt: '\e99f';
$ra-diamond: '\e9a0';
$ra-diamonds-card: '\e9a1';
$ra-diamonds: '\e9a2';
$ra-dice-five: '\e9a3';
$ra-dice-four: '\e9a4';
$ra-dice-one: '\e9a5';
$ra-dice-six: '\e9a6';
$ra-dice-three: '\e9a7';
$ra-dice-two: '\e9a8';
$ra-dig-dug: '\e9a9';
$ra-dinosaur: '\e9aa';
$ra-divert: '\e9ab';
$ra-diving-dagger: '\e9ac';
$ra-double-team: '\e9ad';
$ra-doubled: '\e9ae';
$ra-dragon-breath: '\e9af';
$ra-dragon-wing: '\e9b0';
$ra-dragon: '\e9b1';
$ra-dragonfly: '\e9b2';
$ra-drill: '\e9b3';
$ra-dripping-blade: '\e9b4';
$ra-dripping-knife: '\e9b5';
$ra-dripping-sword: '\e9b6';
$ra-droplet-splash: '\e9b7';
$ra-droplet: '\e9b8';
$ra-droplets: '\e9b9';
$ra-duel: '\e9ba';
$ra-earth-crack: '\e9bb';
$ra-egg-pod: '\e9bc';
$ra-egg: '\e9bd';
$ra-eggplant: '\e9be';
$ra-emerald: '\e9bf';
$ra-energise: '\e9c0';
$ra-executioner-hood: '\e9c1';
$ra-explosion: '\e9c2';
$ra-explosive-materials: '\e9c3';
$ra-eye-monster: '\e9c4';
$ra-eye-shield: '\e9c5';
$ra-eyeball: '\e9c6';
$ra-fairy-wand: '\e9c7';
$ra-fairy: '\e9c8';
$ra-fall-down: '\e9c9';
$ra-falling: '\e9ca';
$ra-fast-ship: '\e9cb';
$ra-feather-wing: '\e9cc';
$ra-feathered-wing: '\e9cd';
$ra-fedora: '\e9ce';
$ra-fire-bomb: '\e9cf';
$ra-fire-breath: '\e9d0';
$ra-fire-ring: '\e9d1';
$ra-fire-shield: '\e9d2';
$ra-fire-symbol: '\e9d3';
$ra-fire: '\e9d4';
$ra-fireball-sword: '\e9d5';
$ra-fish: '\e9d6';
$ra-fizzing-flask: '\e9d7';
$ra-flail: '\e9d8';
$ra-flame-symbol: '\e9d9';
$ra-flame: '\e9da';
$ra-flaming-arrow: '\e9db';
$ra-flaming-claw: '\e9dc';
$ra-flaming-trident: '\e9dd';
$ra-flask: '\e9de';
$ra-flat-hammer: '\e9df';
$ra-flower: '\e9e0';
$ra-flowers: '\e9e1';
$ra-fluffy-swirl: '\e9e2';
$ra-focused-lightning: '\e9e3';
$ra-food-chain: '\e9e4';
$ra-football-ball: '\e9e5';
$ra-footprint: '\e9e6';
$ra-forging: '\e9e7';
$ra-forward: '\e9e8';
$ra-fox: '\e9e9';
$ra-frost-emblem: '\e9ea';
$ra-frostfire: '\e9eb';
$ra-frozen-arrow: '\e9ec';
$ra-gamepad-cross: '\e9ed';
$ra-gamepad: '\e9ee';
$ra-gavel: '\e9ef';
$ra-gear-hammer: '\e9f0';
$ra-gear-heart: '\e9f1';
$ra-gears: '\e9f2';
$ra-gecko: '\e9f3';
$ra-gem-pendant: '\e9f4';
$ra-gemini: '\e9f5';
$ra-gladius: '\e9f6';
$ra-glass-heart: '\e9f7';
$ra-gloop: '\e9f8';
$ra-gold-bar: '\e9f9';
$ra-gold-mine: '\e9fa';
$ra-gold-stack: '\e9fb';
$ra-grappling-hook: '\e9fc';
$ra-grass-patch: '\e9fd';
$ra-grass: '\e9fe';
$ra-greek-temple: '\e9ff';
$ra-groundbreaker: '\ea00';
$ra-guarded-tower: '\ea01';
$ra-guillotine: '\ea02';
$ra-halberd: '\ea03';
$ra-ham-shank: '\ea04';
$ra-hammer-drop: '\ea05';
$ra-hammer: '\ea06';
$ra-hand-emblem: '\ea07';
$ra-hand-saw: '\ea08';
$ra-hand: '\ea09';
$ra-hanging-sign: '\ea0a';
$ra-harpoon-trident: '\ea0b';
$ra-hatchet: '\ea0c';
$ra-health-decrease: '\ea0d';
$ra-health-increase: '\ea0e';
$ra-health: '\ea0f';
$ra-heart-bottle: '\ea10';
$ra-heart-tower: '\ea11';
$ra-heartburn: '\ea12';
$ra-hearts-card: '\ea13';
$ra-hearts: '\ea14';
$ra-heat-haze: '\ea15';
$ra-heavy-fall: '\ea16';
$ra-heavy-shield: '\ea17';
$ra-helmet: '\ea18';
$ra-help: '\ea19';
$ra-hive-emblem: '\ea1a';
$ra-hole-ladder: '\ea1b';
$ra-honeycomb: '\ea1c';
$ra-hood: '\ea1d';
$ra-horn-call: '\ea1e';
$ra-horns: '\ea1f';
$ra-horseshoe: '\ea20';
$ra-hospital-cross: '\ea21';
$ra-hot-surface: '\ea22';
$ra-hourglass: '\ea23';
$ra-house: '\ea24';
$ra-hydra-shot: '\ea25';
$ra-hydra: '\ea26';
$ra-ice-cube: '\ea27';
$ra-imperial-crown: '\ea28';
$ra-implosion: '\ea29';
$ra-incense: '\ea2a';
$ra-insect-jaws: '\ea2b';
$ra-interdiction: '\ea2c';
$ra-jester-hat: '\ea2d';
$ra-jetpack: '\ea2e';
$ra-jewel-crown: '\ea2f';
$ra-jigsaw-piece: '\ea30';
$ra-kaleidoscope: '\ea31';
$ra-kettlebell: '\ea32';
$ra-key-basic: '\ea33';
$ra-key: '\ea34';
$ra-kitchen-knives: '\ea35';
$ra-knife-fork: '\ea36';
$ra-knife: '\ea37';
$ra-knight-helmet: '\ea38';
$ra-kunai: '\ea39';
$ra-lantern-flame: '\ea3a';
$ra-large-hammer: '\ea3b';
$ra-laser-blast: '\ea3c';
$ra-laser-site: '\ea3d';
$ra-lava: '\ea3e';
$ra-leaf: '\ea3f';
$ra-leo: '\ea40';
$ra-level-four-advanced: '\ea41';
$ra-level-four: '\ea42';
$ra-level-three-advanced: '\ea43';
$ra-level-three: '\ea44';
$ra-level-two-advanced: '\ea45';
$ra-level-two: '\ea46';
$ra-lever: '\ea47';
$ra-libra: '\ea48';
$ra-light-bulb: '\ea49';
$ra-lighthouse: '\ea4a';
$ra-lightning-bolt: '\ea4b';
$ra-lightning-storm: '\ea4c';
$ra-lightning-sword: '\ea4d';
$ra-lightning-trio: '\ea4e';
$ra-lightning: '\ea4f';
$ra-lion: '\ea50';
$ra-lit-candelabra: '\ea51';
$ra-load: '\ea52';
$ra-locked-fortress: '\ea53';
$ra-love-howl: '\ea54';
$ra-maggot: '\ea55';
$ra-magic-shield: '\ea56';
$ra-magnet: '\ea57';
$ra-mass-driver: '\ea58';
$ra-match: '\ea59';
$ra-materials-science: '\ea5a';
$ra-meat-hook: '\ea5b';
$ra-meat: '\ea5c';
$ra-medical-pack: '\ea5d';
$ra-medieval-barracks: '\ea5e';
$ra-medieval-gate: '\ea5f';
$ra-metal-gate: '\ea60';
$ra-microphone: '\ea61';
$ra-mine-wagon: '\ea62';
$ra-minerals: '\ea63';
$ra-mining-diamonds: '\ea64';
$ra-mirror: '\ea65';
$ra-monster-skull: '\ea66';
$ra-moon-sun: '\ea67';
$ra-mountains: '\ea68';
$ra-mp5: '\ea69';
$ra-muscle-fat: '\ea6a';
$ra-muscle-up: '\ea6b';
$ra-musket: '\ea6c';
$ra-nails: '\ea6d';
$ra-newspaper: '\ea6e';
$ra-nodular: '\ea6f';
$ra-noose: '\ea70';
$ra-nuclear: '\ea71';
$ra-ocarina: '\ea72';
$ra-ocean-emblem: '\ea73';
$ra-octopus: '\ea74';
$ra-omega: '\ea75';
$ra-on-target: '\ea76';
$ra-open-chest: '\ea77';
$ra-ophiuchus: '\ea78';
$ra-orb-wand: '\ea79';
$ra-ore: '\ea7a';
$ra-overhead: '\ea7b';
$ra-overmind: '\ea7c';
$ra-palm-tree: '\ea7d';
$ra-pawn: '\ea7e';
$ra-pawprint: '\ea7f';
$ra-pig: '\ea80';
$ra-pill: '\ea81';
$ra-pills: '\ea82';
$ra-pine-tree: '\ea83';
$ra-ping-pong: '\ea84';
$ra-pisces: '\ea85';
$ra-plain-dagger: '\ea86';
$ra-player-despair: '\ea87';
$ra-player-dodge: '\ea88';
$ra-player-king: '\ea89';
$ra-player-lift: '\ea8a';
$ra-player-pain: '\ea8b';
$ra-player-pyromaniac: '\ea8c';
$ra-player-shot: '\ea8d';
$ra-player-teleport: '\ea8e';
$ra-player-thunder-struck: '\ea8f';
$ra-player: '\ea90';
$ra-podium: '\ea91';
$ra-pointy-hat: '\ea92';
$ra-poison-cloud: '\ea93';
$ra-potion: '\ea94';
$ra-prank-glasses: '\ea95';
$ra-psychic-waves: '\ea96';
$ra-pumpkin-lantern: '\ea97';
$ra-pyramids: '\ea98';
$ra-queen-crown: '\ea99';
$ra-quill-ink: '\ea9a';
$ra-rabbit: '\ea9b';
$ra-radar-dish: '\ea9c';
$ra-radial-balance: '\ea9d';
$ra-radioactive: '\ea9e';
$ra-raven: '\ea9f';
$ra-reactor: '\eaa0';
$ra-recycle: '\eaa1';
$ra-regeneration: '\eaa2';
$ra-relic-blade: '\eaa3';
$ra-repair: '\eaa4';
$ra-reverse: '\eaa5';
$ra-ringing-bell: '\eaa6';
$ra-roast-chicken: '\eaa7';
$ra-robot-arm: '\eaa8';
$ra-round-bottom-flask: '\eaa9';
$ra-round-shield: '\eaaa';
$ra-rune-stone: '\eaab';
$ra-rupee: '\eaac';
$ra-sagittarius: '\eaad';
$ra-sapphire: '\eaae';
$ra-satellite: '\eaaf';
$ra-scorpio: '\eab0';
$ra-scroll-unfurled: '\eab1';
$ra-scythe: '\eab2';
$ra-sea-serpent: '\eab3';
$ra-seagull: '\eab4';
$ra-shark: '\eab5';
$ra-sheep: '\eab6';
$ra-sheriff: '\eab7';
$ra-shield: '\eab8';
$ra-shinto-shrine: '\eab9';
$ra-ship-emblem: '\eaba';
$ra-shoe-prints: '\eabb';
$ra-shot-through-the-heart: '\eabc';
$ra-shovel: '\eabd';
$ra-shuriken: '\eabe';
$ra-sickle: '\eabf';
$ra-sideswipe: '\eac0';
$ra-sinagot: '\eac1';
$ra-sinking-ship: '\eac2';
$ra-skull-trophy: '\eac3';
$ra-skull: '\eac4';
$ra-slash-ring: '\eac5';
$ra-sliced-bread: '\eac6';
$ra-small-fire: '\eac7';
$ra-snail: '\eac8';
$ra-snake: '\eac9';
$ra-snorkel: '\eaca';
$ra-snowflake: '\eacb';
$ra-soccer-ball: '\eacc';
$ra-spades-card: '\eacd';
$ra-spades: '\eace';
$ra-spawn-node: '\eacf';
$ra-spear-head: '\ead0';
$ra-speech-bubble: '\ead1';
$ra-speech-bubbles: '\ead2';
$ra-spider-alt: '\ead3';
$ra-spider-face: '\ead4';
$ra-spikeball: '\ead5';
$ra-spiked-ball: '\ead6';
$ra-spiked-bat: '\ead7';
$ra-spiked-mace: '\ead8';
$ra-spiked-shield: '\ead9';
$ra-spiked-shoulder-armor: '\eada';
$ra-spiked-tentacle: '\eadb';
$ra-spinning-sword: '\eadc';
$ra-spiral-shell: '\eadd';
$ra-splash: '\eade';
$ra-sprout-emblem: '\eadf';
$ra-sprout: '\eae0';
$ra-spy: '\eae1';
$ra-stabbed-note: '\eae2';
$ra-stone-block: '\eae3';
$ra-stone-pile: '\eae4';
$ra-stone-throne: '\eae5';
$ra-stone-tower: '\eae6';
$ra-stopwatch: '\eae7';
$ra-suckered-tentacle: '\eae8';
$ra-suits: '\eae9';
$ra-sun-symbol: '\eaea';
$ra-sun: '\eaeb';
$ra-sunbeams: '\eaec';
$ra-super-mushroom: '\eaed';
$ra-supersonic-arrow: '\eaee';
$ra-sword: '\eaef';
$ra-target-arrows: '\eaf0';
$ra-target-poster: '\eaf1';
$ra-taurus: '\eaf2';
$ra-telescope: '\eaf3';
$ra-tentacle: '\eaf4';
$ra-tesla: '\eaf5';
$ra-thorn-arrow: '\eaf6';
$ra-thorny-vine: '\eaf7';
$ra-three-keys: '\eaf8';
$ra-tic-tac-toe: '\eaf9';
$ra-toast: '\eafa';
$ra-tombstone: '\eafb';
$ra-tooth: '\eafc';
$ra-torch: '\eafd';
$ra-tornado: '\eafe';
$ra-tower: '\eaff';
$ra-trail: '\eb00';
$ra-trefoil-lily: '\eb01';
$ra-trident: '\eb02';
$ra-triforce: '\eb03';
$ra-trophy: '\eb04';
$ra-turd: '\eb05';
$ra-two-dragons: '\eb06';
$ra-two-hearts: '\eb07';
$ra-uncertainty: '\eb08';
$ra-underhand: '\eb09';
$ra-unplugged: '\eb0a';
$ra-upgrade: '\eb0b';
$ra-vase: '\eb0c';
$ra-venomous-snake: '\eb0d';
$ra-vial: '\eb0e';
$ra-vine-whip: '\eb0f';
$ra-virgo: '\eb10';
$ra-war-axe: '\eb11';
$ra-warhammer: '\eb12';
$ra-warlord-helmet: '\eb13';
$ra-watchtower: '\eb14';
$ra-water-drop: '\eb15';
$ra-water-mill: '\eb16';
$ra-wave-crest: '\eb17';
$ra-white-tower: '\eb18';
$ra-winged-scepter: '\eb19';
$ra-wizard-face: '\eb1a';
$ra-wizard-staff: '\eb1b';
$ra-wolf-head: '\eb1c';
$ra-wolf-howl: '\eb1d';
$ra-wood-beam: '\eb1e';
$ra-wooden-pier: '\eb1f';
$ra-wooden-sign: '\eb20';
$ra-world: '\eb21';
$ra-wrench: '\eb22';
$ra-wyvern: '\eb23';
$ra-x-mark: '\eb24';
$ra-zebra-shield: '\eb25';
$ra-zigzag-leaf: '\eb26';
