// Variables
// --------------------------

@use 'sass:math';

$ra-font-path:        '../fonts' !default;
$ra-css-prefix:       ra !default;
$ra-version:          '0.0.9' !default;
$ra-border-color:     #eee !default;
$ra-inverse:          #fff !default;
$ra-li-width:         (math.div(30em, 14)) !default;

$ra-var-icon-abacus: '\e911';
$ra-var-icon-achievement: '\eae4';
$ra-var-icon-acid: '\ea21';
$ra-var-icon-acorn: '\ea7f';
$ra-var-icon-alien-fire: '\eaac';
$ra-var-icon-all-for-one: '\e967';
$ra-var-icon-alligator-clip: '\ea3b';
$ra-var-icon-amethyst: '\ea5c';
$ra-var-icon-ammo-bag: '\e9c2';
$ra-var-icon-amphora: '\e999';
$ra-var-icon-amputation: '\e93f';
$ra-var-icon-anchor: '\ea86';
$ra-var-icon-angel-wings: '\eaee';
$ra-var-icon-ankh: '\e937';
$ra-var-icon-anvil: '\eadf';
$ra-var-icon-apothecary: '\ea4b';
$ra-var-icon-apple: '\eb05';
$ra-var-icon-aquarius: '\e931';
$ra-var-icon-arcane-mask: '\e9d8';
$ra-var-icon-archer: '\eae3';
$ra-var-icon-archery-target: '\e986';
$ra-var-icon-arena: '\eac3';
$ra-var-icon-aries: '\e9e3';
$ra-var-icon-arrow-cluster: '\ea1c';
$ra-var-icon-arrow-flights: '\ea3f';
$ra-var-icon-arson: '\ea64';
$ra-var-icon-aura: '\eaae';
$ra-var-icon-aware: '\ea50';
$ra-var-icon-axe: '\eab8';
$ra-var-icon-axe-in-log: '\e9b8';
$ra-var-icon-axe-swing: '\ea96';
$ra-var-icon-axe-sword: '\e972';
$ra-var-icon-ball: '\e9c9';
$ra-var-icon-banknote: '\eab5';
$ra-var-icon-barbed-arrow: '\eafb';
$ra-var-icon-barrier: '\ea19';
$ra-var-icon-basketball-ball: '\e93b';
$ra-var-icon-bat-sword: '\ea42';
$ra-var-icon-battered-axe: '\eabd';
$ra-var-icon-batteries: '\ea6f';
$ra-var-icon-battery-0: '\e9e0';
$ra-var-icon-battery-100: '\e96a';
$ra-var-icon-battery-25: '\e9a4';
$ra-var-icon-battery-50: '\e939';
$ra-var-icon-battery-75: '\eaec';
$ra-var-icon-battery-black: '\ea88';
$ra-var-icon-battery-negative: '\e9c5';
$ra-var-icon-battery-positive: '\e955';
$ra-var-icon-battery-white: '\e96b';
$ra-var-icon-batwings: '\eb11';
$ra-var-icon-beam-wake: '\e9cb';
$ra-var-icon-bear-trap: '\e9bc';
$ra-var-icon-beer: '\e936';
$ra-var-icon-beetle: '\ea75';
$ra-var-icon-bell: '\e9e5';
$ra-var-icon-biohazard: '\e9fb';
$ra-var-icon-bird-claw: '\ea91';
$ra-var-icon-bird-mask: '\ea58';
$ra-var-icon-blade-bite: '\e99d';
$ra-var-icon-blast: '\e9ff';
$ra-var-icon-blaster: '\e946';
$ra-var-icon-bleeding-eye: '\eafd';
$ra-var-icon-bleeding-hearts: '\ea9b';
$ra-var-icon-bolt-shield: '\e969';
$ra-var-icon-bomb-explosion: '\ea72';
$ra-var-icon-bombs: '\ea56';
$ra-var-icon-bone-bite: '\e92c';
$ra-var-icon-bone-knife: '\ea4e';
$ra-var-icon-book: '\e9d7';
$ra-var-icon-boomerang: '\ea05';
$ra-var-icon-boot-stomp: '\e971';
$ra-var-icon-bottle-vapors: '\ea52';
$ra-var-icon-bottled-bolt: '\e9b7';
$ra-var-icon-bottom-right: '\eade';
$ra-var-icon-bowie-knife: '\e96d';
$ra-var-icon-bowling-pin: '\eafe';
$ra-var-icon-brain-freeze: '\ea2e';
$ra-var-icon-brandy-bottle: '\eaf8';
$ra-var-icon-bridge: '\e98d';
$ra-var-icon-broadhead-arrow: '\e9f0';
$ra-var-icon-broken-arrow: '\ea9f';
$ra-var-icon-broken-bone: '\e933';
$ra-var-icon-broken-bottle: '\e9b3';
$ra-var-icon-broken-heart: '\e9c7';
$ra-var-icon-broken-shield: '\e909';
$ra-var-icon-broken-skull: '\eaa5';
$ra-var-icon-brutal-helm: '\e935';
$ra-var-icon-bubbling-potion: '\e912';
$ra-var-icon-bullets: '\e92b';
$ra-var-icon-burning-book: '\e991';
$ra-var-icon-burning-embers: '\e983';
$ra-var-icon-burning-eye: '\eb06';
$ra-var-icon-burning-meteor: '\e913';
$ra-var-icon-burning-skull: '\e997';
$ra-var-icon-burst-blob: '\eb0d';
$ra-var-icon-butterfly: '\e93c';
$ra-var-icon-campfire: '\e9b0';
$ra-var-icon-camping-tent: '\e990';
$ra-var-icon-cancel: '\e960';
$ra-var-icon-cancer: '\eaf2';
$ra-var-icon-candle: '\e95e';
$ra-var-icon-candle-fire: '\e916';
$ra-var-icon-cannon-shot: '\ead3';
$ra-var-icon-capitol: '\e9c8';
$ra-var-icon-capricorn: '\eb1b';
$ra-var-icon-carrot: '\e970';
$ra-var-icon-castle: '\e9cc';
$ra-var-icon-castle-emblem: '\e9ce';
$ra-var-icon-castle-flag: '\e948';
$ra-var-icon-cat: '\eaf9';
$ra-var-icon-cauldron: '\e9f7';
$ra-var-icon-chain: '\e98e';
$ra-var-icon-cheese: '\eae0';
$ra-var-icon-chemical-arrow: '\e968';
$ra-var-icon-chessboard: '\e952';
$ra-var-icon-chicken-leg: '\eaab';
$ra-var-icon-circle-of-circles: '\ea43';
$ra-var-icon-circular-saw: '\e98a';
$ra-var-icon-circular-shield: '\eaf0';
$ra-var-icon-cloak-and-dagger: '\e94f';
$ra-var-icon-clockwork: '\e982';
$ra-var-icon-closed-barbute: '\ea1d';
$ra-var-icon-clover: '\e9af';
$ra-var-icon-clovers: '\e96f';
$ra-var-icon-clovers-card: '\eb20';
$ra-var-icon-cluster-bomb: '\eb1c';
$ra-var-icon-coal-wagon: '\e9e9';
$ra-var-icon-coffee-mug: '\eab3';
$ra-var-icon-cog: '\e921';
$ra-var-icon-cog-wheel: '\e959';
$ra-var-icon-coins: '\ea29';
$ra-var-icon-cold-heart: '\eb1e';
$ra-var-icon-compass: '\ea94';
$ra-var-icon-console-controller: '\ea01';
$ra-var-icon-conversation: '\eabb';
$ra-var-icon-corked-tube: '\ea76';
$ra-var-icon-crab-claw: '\ea09';
$ra-var-icon-cracked-helm: '\e920';
$ra-var-icon-cracked-shield: '\eae7';
$ra-var-icon-croc-sword: '\ea6b';
$ra-var-icon-crossbow: '\e95a';
$ra-var-icon-crossed-axes: '\ea4d';
$ra-var-icon-crossed-bones: '\ea49';
$ra-var-icon-crossed-pistols: '\ea9c';
$ra-var-icon-crossed-sabres: '\ea90';
$ra-var-icon-crossed-swords: '\e9a5';
$ra-var-icon-crown: '\ea44';
$ra-var-icon-crown-of-thorns: '\e957';
$ra-var-icon-crowned-heart: '\ead7';
$ra-var-icon-crush: '\ea12';
$ra-var-icon-crystal-ball: '\ea37';
$ra-var-icon-crystal-cluster: '\e9d2';
$ra-var-icon-crystal-wand: '\e943';
$ra-var-icon-crystals: '\eb23';
$ra-var-icon-cubes: '\e9b2';
$ra-var-icon-cut-palm: '\eaba';
$ra-var-icon-cycle: '\ea5f';
$ra-var-icon-daggers: '\eb09';
$ra-var-icon-daisy: '\ea08';
$ra-var-icon-dead-tree: '\e90e';
$ra-var-icon-death-skull: '\ea70';
$ra-var-icon-decapitation: '\e917';
$ra-var-icon-defibrillate: '\ea9a';
$ra-var-icon-demolish: '\e9a8';
$ra-var-icon-dervish-swords: '\e92d';
$ra-var-icon-desert-skull: '\e91e';
$ra-var-icon-diamond: '\eaa8';
$ra-var-icon-diamond-hilt: '\e963';
$ra-var-icon-diamonds: '\eae2';
$ra-var-icon-diamonds-card: '\ea47';
$ra-var-icon-dice-five: '\e977';
$ra-var-icon-dice-four: '\eae9';
$ra-var-icon-dice-one: '\e92f';
$ra-var-icon-dice-six: '\eadc';
$ra-var-icon-dice-three: '\e903';
$ra-var-icon-dice-two: '\ead5';
$ra-var-icon-dinosaur: '\e91b';
$ra-var-icon-divert: '\e9dd';
$ra-var-icon-diving-dagger: '\ea78';
$ra-var-icon-double-team: '\eaed';
$ra-var-icon-doubled: '\e915';
$ra-var-icon-dragon: '\e966';
$ra-var-icon-dragon-breath: '\ea92';
$ra-var-icon-dragon-wing: '\e9a3';
$ra-var-icon-dragonfly: '\e9ab';
$ra-var-icon-drill: '\eae1';
$ra-var-icon-dripping-blade: '\ea20';
$ra-var-icon-dripping-knife: '\ea71';
$ra-var-icon-dripping-sword: '\eb28';
$ra-var-icon-droplet: '\e993';
$ra-var-icon-droplet-splash: '\ea97';
$ra-var-icon-droplets: '\e9cd';
$ra-var-icon-duel: '\e906';
$ra-var-icon-earth-crack: '\ea8b';
$ra-var-icon-egg: '\ea68';
$ra-var-icon-egg-pod: '\ea5e';
$ra-var-icon-eggplant: '\ea79';
$ra-var-icon-emerald: '\ea13';
$ra-var-icon-energise: '\e9ea';
$ra-var-icon-executioner-hood: '\ea38';
$ra-var-icon-explosion: '\ea4c';
$ra-var-icon-explosive-materials: '\ea51';
$ra-var-icon-eye-monster: '\e928';
$ra-var-icon-eye-shield: '\e97d';
$ra-var-icon-eyeball: '\eb22';
$ra-var-icon-fairy: '\e951';
$ra-var-icon-fairy-wand: '\eab9';
$ra-var-icon-fall-down: '\e93a';
$ra-var-icon-falling: '\ea54';
$ra-var-icon-fast-ship: '\e9bf';
$ra-var-icon-feather-wing: '\e9bb';
$ra-var-icon-feathered-wing: '\eabe';
$ra-var-icon-fedora: '\ea7b';
$ra-var-icon-fire: '\e99f';
$ra-var-icon-fire-bomb: '\eaf5';
$ra-var-icon-fire-breath: '\e995';
$ra-var-icon-fire-ring: '\e9ee';
$ra-var-icon-fire-shield: '\eafc';
$ra-var-icon-fire-symbol: '\e900';
$ra-var-icon-fireball-sword: '\e9c0';
$ra-var-icon-fish: '\ea23';
$ra-var-icon-fizzing-flask: '\ead9';
$ra-var-icon-flail: '\ea8e';
$ra-var-icon-flame: '\eaf7';
$ra-var-icon-flame-symbol: '\ea59';
$ra-var-icon-flaming-arrow: '\e97e';
$ra-var-icon-flaming-claw: '\e99b';
$ra-var-icon-flaming-trident: '\e90c';
$ra-var-icon-flask: '\ea07';
$ra-var-icon-flat-hammer: '\ea53';
$ra-var-icon-flower: '\eab4';
$ra-var-icon-flowers: '\e9ac';
$ra-var-icon-fluffy-swirl: '\e9f9';
$ra-var-icon-focused-lightning: '\e9b6';
$ra-var-icon-food-chain: '\e96c';
$ra-var-icon-football-ball: '\e947';
$ra-var-icon-footprint: '\e9ca';
$ra-var-icon-forging: '\eaef';
$ra-var-icon-forward: '\eae8';
$ra-var-icon-fox: '\ea82';
$ra-var-icon-frost-emblem: '\eaf6';
$ra-var-icon-frostfire: '\ea1e';
$ra-var-icon-frozen-arrow: '\e919';
$ra-var-icon-gamepad: '\eb1a';
$ra-var-icon-gamepad-cross: '\e93e';
$ra-var-icon-gavel: '\eb12';
$ra-var-icon-gear-hammer: '\e945';
$ra-var-icon-gear-heart: '\ea31';
$ra-var-icon-gears: '\e9ed';
$ra-var-icon-gecko: '\ea8f';
$ra-var-icon-gem: '\ea6d';
$ra-var-icon-gem-pendant: '\e9b1';
$ra-var-icon-gemini: '\e914';
$ra-var-icon-gladius: '\eacc';
$ra-var-icon-glass-heart: '\e944';
$ra-var-icon-gloop: '\eaf4';
$ra-var-icon-gold-bar: '\e9e8';
$ra-var-icon-gold-stack: '\e940';
$ra-var-icon-grappling-hook: '\eaa9';
$ra-var-icon-grass: '\eb0f';
$ra-var-icon-grass-patch: '\e984';
$ra-var-icon-greek-temple: '\e9dc';
$ra-var-icon-grenade: '\e964';
$ra-var-icon-groundbreaker: '\ea84';
$ra-var-icon-guarded-tower: '\ea62';
$ra-var-icon-guillotine: '\eac7';
$ra-var-icon-halberd: '\e954';
$ra-var-icon-ham-shank: '\eac2';
$ra-var-icon-hammer: '\ea87';
$ra-var-icon-hammer-drop: '\eae5';
$ra-var-icon-hand: '\e904';
$ra-var-icon-hand-emblem: '\ea3e';
$ra-var-icon-hand-saw: '\ea85';
$ra-var-icon-harpoon-trident: '\e9f4';
$ra-var-icon-hatchet: '\e956';
$ra-var-icon-health: '\e9a2';
$ra-var-icon-health-decrease: '\e9ae';
$ra-var-icon-health-increase: '\e9d9';
$ra-var-icon-heart-bottle: '\e91d';
$ra-var-icon-heart-tower: '\eb1d';
$ra-var-icon-heartburn: '\eb18';
$ra-var-icon-hearts: '\ead2';
$ra-var-icon-hearts-card: '\ea57';
$ra-var-icon-heat-haze: '\e981';
$ra-var-icon-heavy-fall: '\ea2f';
$ra-var-icon-heavy-shield: '\ead6';
$ra-var-icon-helmet: '\eaa7';
$ra-var-icon-help: '\eaea';
$ra-var-icon-hive-emblem: '\e9ba';
$ra-var-icon-hole-ladder: '\e9cf';
$ra-var-icon-honeycomb: '\e980';
$ra-var-icon-hood: '\eadd';
$ra-var-icon-horn-call: '\e9f2';
$ra-var-icon-horns: '\eb10';
$ra-var-icon-horseshoe: '\eb17';
$ra-var-icon-hospital-cross: '\e9d0';
$ra-var-icon-hot-surface: '\eb04';
$ra-var-icon-hourglass: '\e92a';
$ra-var-icon-house: '\e918';
$ra-var-icon-hydra: '\eb00';
$ra-var-icon-hydra-shot: '\e949';
$ra-var-icon-ice-cube: '\eb0c';
$ra-var-icon-imperial-crown: '\eac4';
$ra-var-icon-implosion: '\ea17';
$ra-var-icon-incense: '\e9e2';
$ra-var-icon-insect-jaws: '\ea33';
$ra-var-icon-interdiction: '\e9a1';
$ra-var-icon-jetpack: '\ea98';
$ra-var-icon-jewel-crown: '\eaa1';
$ra-var-icon-jigsaw-piece: '\eaa6';
$ra-var-icon-kaleidoscope: '\e91f';
$ra-var-icon-kettlebell: '\ea63';
$ra-var-icon-key: '\e9aa';
$ra-var-icon-key-basic: '\ea0d';
$ra-var-icon-kitchen-knives: '\eaa0';
$ra-var-icon-knife: '\ea95';
$ra-var-icon-knife-fork: '\e9ef';
$ra-var-icon-knight-helmet: '\ea60';
$ra-var-icon-kunai: '\eb13';
$ra-var-icon-lantern-flame: '\e975';
$ra-var-icon-large-hammer: '\ea30';
$ra-var-icon-laser-blast: '\ea1b';
$ra-var-icon-laser-site: '\eb14';
$ra-var-icon-lava: '\ea18';
$ra-var-icon-leaf: '\ea73';
$ra-var-icon-leo: '\e978';
$ra-var-icon-level-four: '\eb29';
$ra-var-icon-level-four-advanced: '\eaf3';
$ra-var-icon-level-three: '\e9f8';
$ra-var-icon-level-three-advanced: '\e92e';
$ra-var-icon-level-two: '\ea67';
$ra-var-icon-level-two-advanced: '\eb21';
$ra-var-icon-lever: '\e95b';
$ra-var-icon-libra: '\e9e4';
$ra-var-icon-light-bulb: '\eab1';
$ra-var-icon-lighthouse: '\e98b';
$ra-var-icon-lightning: '\e901';
$ra-var-icon-lightning-bolt: '\ea9d';
$ra-var-icon-lightning-storm: '\e925';
$ra-var-icon-lightning-sword: '\e9d5';
$ra-var-icon-lightning-trio: '\eb15';
$ra-var-icon-lion: '\e99e';
$ra-var-icon-lit-candelabra: '\e973';
$ra-var-icon-load: '\e9f1';
$ra-var-icon-locked-fortress: '\e9a9';
$ra-var-icon-love-howl: '\ea61';
$ra-var-icon-maggot: '\ea2c';
$ra-var-icon-magnet: '\e9c4';
$ra-var-icon-mass-driver: '\e962';
$ra-var-icon-match: '\eaad';
$ra-var-icon-materials-science: '\ea41';
$ra-var-icon-meat: '\e908';
$ra-var-icon-meat-hook: '\e907';
$ra-var-icon-medical-pack: '\ea8a';
$ra-var-icon-metal-gate: '\ea0f';
$ra-var-icon-microphone: '\e974';
$ra-var-icon-mine-wagon: '\ea11';
$ra-var-icon-mining-diamonds: '\e998';
$ra-var-icon-mirror: '\eb0e';
$ra-var-icon-monster-skull: '\e958';
$ra-var-icon-moon-sun: '\eaaa';
$ra-var-icon-mountains: '\eadb';
$ra-var-icon-mp5: '\ea55';
$ra-var-icon-muscle-fat: '\e992';
$ra-var-icon-muscle-up: '\e9f3';
$ra-var-icon-musket: '\e90d';
$ra-var-icon-nails: '\ea6a';
$ra-var-icon-newspaper: '\e9f5';
$ra-var-icon-nodular: '\ea3a';
$ra-var-icon-noose: '\eb0b';
$ra-var-icon-nuclear: '\eb26';
$ra-var-icon-ocarina: '\e979';
$ra-var-icon-ocean-emblem: '\ea99';
$ra-var-icon-octopus: '\e97f';
$ra-var-icon-omega: '\e94b';
$ra-var-icon-on-target: '\ea26';
$ra-var-icon-open-chest: '\ea89';
$ra-var-icon-ophiuchus: '\ea7c';
$ra-var-icon-orb-wand: '\e994';
$ra-var-icon-overhead: '\e950';
$ra-var-icon-overmind: '\eab2';
$ra-var-icon-palm-tree: '\eb25';
$ra-var-icon-pawn: '\eaa3';
$ra-var-icon-pawprint: '\e95f';
$ra-var-icon-perspective-dice-five: '\e97b';
$ra-var-icon-perspective-dice-four: '\eae6';
$ra-var-icon-perspective-dice-one: '\e9a6';
$ra-var-icon-perspective-dice-random: '\e923';
$ra-var-icon-perspective-dice-six: '\ea24';
$ra-var-icon-perspective-dice-three: '\ea48';
$ra-var-icon-perspective-dice-two: '\ea2a';
$ra-var-icon-pig: '\ea4a';
$ra-var-icon-pill: '\eab7';
$ra-var-icon-pills: '\eac1';
$ra-var-icon-pine-tree: '\eb07';
$ra-var-icon-ping-pong: '\e9eb';
$ra-var-icon-pisces: '\ea06';
$ra-var-icon-plain-dagger: '\ea7d';
$ra-var-icon-player: '\ea22';
$ra-var-icon-player-despair: '\ea2d';
$ra-var-icon-player-dodge: '\e9df';
$ra-var-icon-player-king: '\e932';
$ra-var-icon-player-lift: '\e9de';
$ra-var-icon-player-pain: '\ead4';
$ra-var-icon-player-pyromaniac: '\e996';
$ra-var-icon-player-shot: '\e9b4';
$ra-var-icon-player-teleport: '\ea7e';
$ra-var-icon-player-thunder-struck: '\eaa2';
$ra-var-icon-podium: '\eab0';
$ra-var-icon-pointy-hat: '\ea6e';
$ra-var-icon-poison-cloud: '\ea6c';
$ra-var-icon-potion: '\e9be';
$ra-var-icon-prank-glasses: '\e9e6';
$ra-var-icon-psychic-waves: '\e9fc';
$ra-var-icon-pumpkin-lantern: '\e985';
$ra-var-icon-pyramids: '\ea34';
$ra-var-icon-queen-crown: '\e98f';
$ra-var-icon-quill-ink: '\e9a7';
$ra-var-icon-rabbit: '\ea03';
$ra-var-icon-radar-dish: '\eac5';
$ra-var-icon-radial-balance: '\ea46';
$ra-var-icon-radioactive: '\eaaf';
$ra-var-icon-raven: '\eb03';
$ra-var-icon-reactor: '\e9fd';
$ra-var-icon-recycle: '\e953';
$ra-var-icon-regeneration: '\eb16';
$ra-var-icon-relic-blade: '\e976';
$ra-var-icon-repair: '\ea27';
$ra-var-icon-reverse: '\eabf';
$ra-var-icon-revolver: '\ea8c';
$ra-var-icon-rifle: '\e9da';
$ra-var-icon-ringing-bell: '\e9fe';
$ra-var-icon-roast-chicken: '\e989';
$ra-var-icon-robot-arm: '\ea66';
$ra-var-icon-round-bottom-flask: '\e9d1';
$ra-var-icon-round-shield: '\e965';
$ra-var-icon-rss: '\ea0b';
$ra-var-icon-rune-stone: '\e9e1';
$ra-var-icon-sagittarius: '\e9d6';
$ra-var-icon-sapphire: '\e905';
$ra-var-icon-satellite: '\e9d3';
$ra-var-icon-save: '\ea35';
$ra-var-icon-scorpio: '\ea4f';
$ra-var-icon-scroll-unfurled: '\ea65';
$ra-var-icon-scythe: '\e90b';
$ra-var-icon-sea-serpent: '\e9fa';
$ra-var-icon-seagull: '\e98c';
$ra-var-icon-shark: '\e94a';
$ra-var-icon-sheep: '\e95d';
$ra-var-icon-sheriff: '\eb08';
$ra-var-icon-shield: '\e9c6';
$ra-var-icon-ship-emblem: '\eacb';
$ra-var-icon-shoe-prints: '\ea83';
$ra-var-icon-shot-through-the-heart: '\e91a';
$ra-var-icon-shotgun-shell: '\e942';
$ra-var-icon-shovel: '\ea93';
$ra-var-icon-shuriken: '\ea5b';
$ra-var-icon-sickle: '\eacd';
$ra-var-icon-sideswipe: '\eac8';
$ra-var-icon-sinking-ship: '\e9a0';
$ra-var-icon-site: '\ea25';
$ra-var-icon-skull: '\e9db';
$ra-var-icon-skull-trophy: '\eabc';
$ra-var-icon-slash-ring: '\ea28';
$ra-var-icon-sliced-bread: '\e927';
$ra-var-icon-small-fire: '\e96e';
$ra-var-icon-snail: '\ea2b';
$ra-var-icon-snake: '\ea32';
$ra-var-icon-snorkel: '\eaff';
$ra-var-icon-snowflake: '\e9f6';
$ra-var-icon-soccer-ball: '\ea45';
$ra-var-icon-spades: '\e922';
$ra-var-icon-spades-card: '\e941';
$ra-var-icon-spawn-node: '\e95c';
$ra-var-icon-spear-head: '\eac9';
$ra-var-icon-speech-bubble: '\eac0';
$ra-var-icon-speech-bubbles: '\eb27';
$ra-var-icon-spider-alt: '\e94d';
$ra-var-icon-spider-face: '\eada';
$ra-var-icon-spikeball: '\e91c';
$ra-var-icon-spiked-ball: '\e9c1';
$ra-var-icon-spiked-bat: '\ea39';
$ra-var-icon-spiked-mace: '\eaca';
$ra-var-icon-spiked-tentacle: '\ea16';
$ra-var-icon-spinning-sword: '\e9b9';
$ra-var-icon-spiral-shell: '\ead0';
$ra-var-icon-splash: '\eb0a';
$ra-var-icon-spray-can: '\e938';
$ra-var-icon-sprout: '\eab6';
$ra-var-icon-sprout-emblem: '\e930';
$ra-var-icon-spy: '\e924';
$ra-var-icon-stone-pile: '\eaf1';
$ra-var-icon-stopwatch: '\e9bd';
$ra-var-icon-suckered-tentacle: '\e9d4';
$ra-var-icon-suits: '\ea7a';
$ra-var-icon-sun: '\ea80';
$ra-var-icon-sun-symbol: '\ea3c';
$ra-var-icon-sunbeams: '\eb19';
$ra-var-icon-super-mushroom: '\ea5d';
$ra-var-icon-supersonic-arrow: '\ea0a';
$ra-var-icon-surveillance-camera: '\ea0e';
$ra-var-icon-sword: '\eafa';
$ra-var-icon-syringe: '\ea40';
$ra-var-icon-target-arrows: '\e9ec';
$ra-var-icon-target-laser: '\ea1f';
$ra-var-icon-targeted: '\eace';
$ra-var-icon-taurus: '\ea77';
$ra-var-icon-telescope: '\e9b5';
$ra-var-icon-tentacle: '\ea04';
$ra-var-icon-tesla: '\e929';
$ra-var-icon-thorn-arrow: '\e99a';
$ra-var-icon-thorny-vine: '\e97a';
$ra-var-icon-three-keys: '\e93d';
$ra-var-icon-tic-tac-toe: '\eacf';
$ra-var-icon-toast: '\ea36';
$ra-var-icon-tombstone: '\eac6';
$ra-var-icon-tooth: '\ead8';
$ra-var-icon-torch: '\e987';
$ra-var-icon-tornado: '\e97c';
$ra-var-icon-tower: '\eb1f';
$ra-var-icon-trail: '\ea10';
$ra-var-icon-trefoil-lily: '\ea74';
$ra-var-icon-trident: '\eaeb';
$ra-var-icon-triforce: '\e90a';
$ra-var-icon-trophy: '\ea02';
$ra-var-icon-turd: '\e9e7';
$ra-var-icon-two-dragons: '\e94c';
$ra-var-icon-two-hearts: '\ea5a';
$ra-var-icon-uncertainty: '\e902';
$ra-var-icon-underhand: '\ea69';
$ra-var-icon-unplugged: '\e94e';
$ra-var-icon-upgrade: '\eb24';
$ra-var-icon-vase: '\ead1';
$ra-var-icon-venomous-snake: '\e99c';
$ra-var-icon-vest: '\eaa4';
$ra-var-icon-vial: '\ea9e';
$ra-var-icon-vine-whip: '\e9ad';
$ra-var-icon-virgo: '\ea8d';
$ra-var-icon-water-drop: '\e988';
$ra-var-icon-wave-crest: '\e9c3';
$ra-var-icon-wifi: '\ea0c';
$ra-var-icon-wireless-signal: '\e90f';
$ra-var-icon-wizard-face: '\eb01';
$ra-var-icon-wizard-staff: '\ea14';
$ra-var-icon-wolf-head: '\eb02';
$ra-var-icon-wolf-howl: '\e910';
$ra-var-icon-wood-beam: '\e926';
$ra-var-icon-wooden-sign: '\e934';
$ra-var-icon-world: '\ea15';
$ra-var-icon-wrench: '\ea81';
$ra-var-icon-wyvern: '\e961';
$ra-var-icon-x-mark: '\ea1a';
$ra-var-icon-zebra-shield: '\ea3d';
$ra-var-icon-zigzag-leaf: '\ea00';
